= render partial: "shared/navbars/new_and_edit_purchase_order_navbar", locals: {title: "#{@purchase_order.doc_number}"}
.container
  = form_tag update_qb_purchase_order_path, method: 'get', id: 'purchase_order_form', :class => "form-horizontal" do
    -#
      .well.col-sm-6.col-md-4.col-md-offset-4
    .well
      .row.form-group.calculation_fields
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Vendor", nil, :class => 'control-label'
          =# @vendor.display_name
          = select_tag "purchase_order[vendor]", options_from_collection_for_select(@vendors, "id", "display_name", @vendor.id), prompt: "Choose a vendor", class: "form-control input-lg", required: true
          -#
            = label_tag "Status", nil, :class => 'control-label'
            = select_tag "purchase_order[po_status]", options_for_select(["Open", "Closed"], @purchase_order.po_status), class: "form-control input-lg item_select"
          %p
            = label_tag "Status", nil, :class => 'control-label'
            .btn-group{"data-toggle" => "buttons"}
              %label.btn.btn-lg.btn-default{class: "#{@purchase_order.po_status == 'Open' ? 'active' : ''}"}
                = radio_button_tag "purchase_order[po_status]", "Open", "#{@purchase_order.po_status == 'Open'}"
                -#
                  %input#option1{:autocomplete => "off", :checked => "checked", :name => "options", :type => "radio"}/
                Open
              %label.btn.btn-lg.btn-default{class: "#{@purchase_order.po_status == 'Closed' ? 'active' : ''}"}
                = radio_button_tag "purchase_order[po_status]", "Closed", "#{@purchase_order.po_status == 'Closed'}"
                -#
                  %input#option2{:autocomplete => "off", :name => "options", :type => "radio"}/
                Closed
    %div.input_fields_wrap
      - @purchase_order.line_items.each do |line_item|
        -#
          .well.col-sm-6.col-md-4.col-md-offset-4
        .well
          =# link_to "#{line_item.item_based_expense_line_detail.item_ref.name}: #{number_to_currency(line_item.amount)}", '#', onclick: "$(this).next().fadeToggle();"
          = link_to "#{line_item.item_based_expense_line_detail.item_ref.name}", '#', onclick: "$(this).next().fadeToggle();"
          .row.form-group{style: 'display: none'}
            %div{:class => "col-sm-12 col-md-12"}
              = select_tag "purchase_order[line_items][][item]", options_for_select(@items.map{ |item| ["#{item.name} (#{item.description})", item.id]}, line_item.item_based_expense_line_detail.item_ref), prompt: 'Choose an item' , class: "form-control input-lg item_select", required: true
              =# hidden_field "purchase_order[line_items][][item]", line_item.item_based_expense_line_detail.item_ref
              -#
                = label_tag "Item", nil, :class => 'control-label'
                = select_tag "purchase_order[line_items][][item]", options_for_select(@items.map{ |item| [item.name, item.id, { data: {description: "#{@item_service.fetch_by_id(item.id).description}", rate: "#{@item_service.fetch_by_id(item.id).purchase_cost}"} }] }, line_item.item_based_expense_line_detail.item_ref), prompt: 'Choose an item', class: "form-control input-lg item_select", required: true
                = label_tag "Description", nil, :class => 'control-label'
              %p= line_item.description
              =# text_field_tag "purchase_order[line_items][][description]", line_item.description, :placeholder => "Description", class: "form-control input-lg", readonly: true
              = label_tag "Gross", nil, :class => 'control-label'
              = text_field_tag "purchase_order[line_items][][gross]", nil, :placeholder => "Gross", class: "form-control input-lg amount-calculation-field"
              = label_tag "Tare", nil, :class => 'control-label'
              = text_field_tag "purchase_order[line_items][][tare]", nil, :placeholder => "Tare", class: "form-control input-lg amount-calculation-field"
              = label_tag "Load", nil, :class => 'control-label'
              = text_field_tag "purchase_order[line_items][][quantity]", line_item.item_based_expense_line_detail.quantity, :placeholder => "Load", class: "form-control input-lg amount-calculation-field", required: true, readonly: true
              = label_tag "Rate", nil, :class => 'control-label'
              =# text_field_tag "purchase_order[line_items][][rate]", line_item.item_based_expense_line_detail.unit_price, :placeholder => "Rate", class: "form-control input-lg amount-calculation-field", required: true
              = text_field_tag "purchase_order[line_items][][rate]", @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).unit_price, :placeholder => "Rate", class: "form-control input-lg amount-calculation-field", required: true
              = label_tag "Amount", nil, :class => 'control-label'
              = text_field_tag "purchase_order[line_items][][amount]", line_item.amount, :placeholder => "Amount", class: "form-control input-lg", required: true, readonly: true
          .row.form-group
            %div{:class => "col-sm-12 col-md-12"}
              %a{href: '#', class: 'remove_field btn btn-danger pull-right'}
                %i.fa.fa-trash
    -#
      .col-sm-6.col-md-4.col-md-offset-4
    %p.pull-right= image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
    %p= link_to 'More items', line_item_fields_purchase_orders_path, remote: true, id: "add_item_button", class: "btn btn-warning pull-right add_field", onclick: "$(this).hide(); $('#spinner').show();"
    %br
    %br
    %br
    %br
    .row.form-group
      %div{:class => "col-sm-12 col-md-12"}
        -#
          = link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default btn-block"
        = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block') do
          Update
= render partial: "shared/footer_navbar", locals: {title: "Purchase Order"}