= render partial: "shared/navbars/new_and_edit_purchase_order_navbar", locals: {title: "#{@purchase_order.doc_number}", total: number_to_currency(@purchase_order.total)}
- @title="Open #{@purchase_order.doc_number}" 

.container
  - if not @customer.blank? and @customer.photo_id_warning?
    .alert.alert-warning
      %i.fa.fa-warning.fa-lg
      Vendor Photo ID is missing or expired.
      = link_to 'Update', edit_vendor_path(@customer.id), class: 'btn btn-default', target: '_blank'
  = form_tag update_qb_purchase_order_path, method: 'get', id: 'purchase_order_form', :class => "form-horizontal" do
    #vendor_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default
        %div.panel-heading{:role => "tab", id: "vendor_heading"}
          %h4.panel-title
            -#
              %a{"aria-controls" => "collapseVendor", "aria-expanded" => "true", "data-parent" => "#vendor_accordion", "data-toggle" => "collapse", :href => "#collapseVendor", :role => "button", class: "#{@purchase_order.line_items.count > 1 ? 'collapsed' : ''}" }
            Vendor
        -#
          #collapseVendor.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel", class: " #{@purchase_order.line_items.count > 1 ? '' : 'in'} "}
        #collapseVendor.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel", class: " "}
          .panel-body
            =# label_tag "Vendor", nil, :class => 'control-label'
            =# select_tag "purchase_order[vendor]", options_for_select(Rails.cache.fetch("all_vendors"), @vendor.id), prompt: "Choose a vendor", class: "form-control input-lg", required: true
            =# select_tag "purchase_order[vendor]", options_from_collection_for_select(@vendors, "id", "display_name", "#{@vendor.present? ? @vendor.id : nil }"), prompt: "Choose a vendor", class: "form-control input-lg", required: true
            = select_tag "purchase_order[vendor]", options_from_collection_for_select(@vendors, "id", "display_name", @purchase_order.vendor_ref), prompt: "Choose a vendor", class: "form-control input-lg", required: true
        %div.panel-footer
          %ul{class: 'list-inline'}
            %li
              #vendor_name= @purchase_order.vendor_ref.name
            %li.pull-right
              %a.text-success{"aria-controls" => "collapseVendor", "aria-expanded" => "true", "data-parent" => "#vendor_accordion", "data-toggle" => "collapse", :href => "#collapseVendor", :role => "button", class: "collapsed", onclick: "$(this).find('i').toggleClass('fa-check-square fa-chevron-down');" }
                %i.fa.fa-chevron-down.fa-lg
    %div.purchase_order_input_fields_wrap
      #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        - @purchase_order.line_items.each do |line_item|
          .panel.panel-default.line-item
            %div.panel-heading{:role => "tab", id: "heading#{line_item.id}"}
              %h4.panel-title
                %ul{class: 'list-inline'}
                  %li
                    -#
                      %a.line_item_name.text-success{"aria-controls" => "collapse#{line_item.id}", "aria-expanded" => "#{@purchase_order.line_items.count > 1 ? false : true}", "data-parent" => "#items_accordion", "data-toggle" => "collapse", :href => "#collapse_#{line_item.id}", :role => "button", class: "#{@purchase_order.line_items.count > 1 ? 'collapsed' : ''}" }
                    .line_item_name
                      =# "#{line_item.item_based_expense_line_detail.item_ref.name}"
                      =# @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name
                      = line_item.item_based_expense_line_detail.item_ref.name
                  %li.pull-right
                    %a{href: '#', class: 'remove_field'}
                      %i.fa.fa-trash.fa-lg.text-danger
                = hidden_field_tag :item_description, @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).purchase_desc
            %div{id: "collapse_#{line_item.id}", "aria-labelledby" => "heading#{line_item.id}", :role => "tabpanel", class: "panel-collapse collapse #{@purchase_order.line_items.count > 1 ? '' : 'in'}", "aria-expanded" => "#{@purchase_order.line_items.count > 1 ? false : true}"}
              .panel-body
                = select_tag "purchase_order[line_items][][item]", options_from_collection_for_select(@items, "id", "name", line_item.item_based_expense_line_detail.item_ref), prompt: 'Choose an item' , class: "form-control input-lg item_select", required: true
                =# select_tag "purchase_order[line_items][][item]", options_for_select(Rails.cache.fetch("all_items"), line_item.item_based_expense_line_detail.item_ref), prompt: 'Choose an item' , class: "form-control input-lg item_select", required: true
                =# select_tag "purchase_order[line_items][][item]", options_for_select(@items.map{ |item| ["#{item.name} (#{item.description})", item.id]}, line_item.item_based_expense_line_detail.item_ref), prompt: 'Choose an item' , class: "form-control input-lg item_select", required: true
                = hidden_field_tag "purchase_order[line_items][][description]", line_item.description
                = label_tag "Gross", nil, :class => 'control-label'
                %div.input-group
                  - current_user.scale_devices.each do |scale_device|
                    %span.input-group-addon
                      - if scale_device.scale_camera_only?
                        %a{href: '#', style: "color: hotpink;", class: "scale_camera_trigger", id: 'gross_scale_button', 'data-event-code' => "Gross", 'data-ticket-number' => @doc_number, 'data-item-name' => line_item.item_based_expense_line_detail.item_ref.name, 'data-location' => current_user.location, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
                          %i.fa.fa-camera.fa-lg
                          %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                      - else
                        %a{href: '#', class: "scale_read_and_camera_trigger", id: 'gross_scale_button', 'data-event-code' => "Gross", 'data-ticket-number' => @doc_number, 'data-item-name' => line_item.item_based_expense_line_detail.item_ref.name, 'data-location' => current_user.location, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
                          %i.fa.fa-dashboard.fa-lg
                          %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                  = phone_field_tag "purchase_order[line_items][][gross]", line_item.description.split(' - ').first, :placeholder => "Gross", class: "form-control input-lg amount-calculation-field", required: true
                  %span.input-group-addon
                    %a{href: '#', id: 'gross_picture_button', class: 'gross_or_tare_picture_button', 'data-event-code' => "Gross", 'data-item-id' => line_item.item_based_expense_line_detail.item_ref, 'data-item-name' => line_item.item_based_expense_line_detail.item_ref.name, 'data-weight' => line_item.description.split(' - ').first}
                      %i.fa.fa-camera.fa-lg
                = label_tag "Tare", nil, :class => 'control-label'
                %div.input-group
                  - current_user.scale_devices.each do |scale_device|
                    %span.input-group-addon
                      - if scale_device.scale_camera_only?
                        %a{href: '#', style: "color: hotpink", class: "scale_camera_trigger", id: 'tare_scale_button',  'data-event-code' => "Tare", 'data-ticket-number' => @doc_number, 'data-item-name' => line_item.item_based_expense_line_detail.item_ref.name, 'data-location' => current_user.location, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
                          %i.fa.fa-camera.fa-lg
                          %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                      - else
                        %a{href: '#', class: "scale_read_and_camera_trigger", id: 'tare_scale_button',  'data-event-code' => "Tare", 'data-ticket-number' => @doc_number, 'data-item-name' => line_item.item_based_expense_line_detail.item_ref.name, 'data-location' => current_user.location, 'data-device-id' => scale_device.id, title: scale_device.DeviceName, 'data-toggle' => 'tooltip', 'data-placement' => 'top'}
                          %i.fa.fa-dashboard.fa-lg
                          %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
                  = phone_field_tag "purchase_order[line_items][][tare]", line_item.description.split(' - ').second, :placeholder => "Tare", class: "form-control input-lg amount-calculation-field tare", required: true
                  %span.input-group-addon
                    %a{href: '#', id: 'tare_picture_button', class: 'gross_or_tare_picture_button', 'data-event-code' => "Tare", 'data-item-id' => line_item.item_based_expense_line_detail.item_ref, 'data-item-name' => line_item.item_based_expense_line_detail.item_ref.name, 'data-weight' => line_item.description.split(' - ').second}
                      %i.fa.fa-camera.fa-lg
                = label_tag "Net", nil, :class => 'control-label'
                = text_field_tag "purchase_order[line_items][][quantity]", number_with_precision(line_item.item_based_expense_line_detail.quantity, :precision => 0), :placeholder => "Net", class: "form-control input-lg amount-calculation-field", required: true, readonly: true
                = label_tag "Rate", nil, :class => 'control-label'
                %div.input-group
                  %span.input-group-addon
                    $
                  = text_field_tag "purchase_order[line_items][][rate]", number_with_precision(line_item.item_based_expense_line_detail.unit_price, :precision => 5), :placeholder => "Rate", class: "form-control input-lg amount-calculation-field", required: true
                = label_tag "Amount", nil, :class => 'control-label'
                %div.input-group
                  %span.input-group-addon
                    $
                  = text_field_tag "purchase_order[line_items][][amount]", number_with_precision(line_item.amount, :precision => 2), :placeholder => "Amount", class: "form-control input-lg amount", required: true, readonly: true 
            %div.panel-footer
              %ul{class: 'list-inline'}
                %li.calculation_details
                  =# "(#{line_item.description}) ="
                  = "(#{line_item.description.split(' - ').first} - #{line_item.description.split(' - ').second}) ="
                  = "#{number_with_precision(line_item.item_based_expense_line_detail.quantity, :precision => 0)}#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).purchase_desc}"
                  = " x $#{number_with_precision(line_item.item_based_expense_line_detail.unit_price, :precision => 5)}"
                  = "= #{number_to_currency(line_item.amount)}"
                %li.pull-right
                  %a.text-success{"aria-controls" => "collapse#{line_item.id}", "data-parent" => "#items_accordion", "data-toggle" => "collapse", :href => "#collapse_#{line_item.id}", class: "pull-right", onclick: "$(this).find('i').toggleClass('fa-check-square fa-chevron-down');" }
                    - if @purchase_order.line_items.count > 1
                      %i.fa.fa-chevron-down.fa-lg
                    - else
                      %i.fa.fa-check-square.fa-lg
    .row.form-group
      %div.col-xs-3.col-sm-3
        = image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
        %a{ href: line_item_fields_purchase_orders_path(doc_number: @doc_number), 'data-remote' => true, id: "add_item_button", class: "btn btn-warning btn-lg btn-block", onclick: "$(this).hide(); $('#spinner').show();" }
          %i.fa.fa-plus
          Item
      %div.col-xs-3.col-sm-3
        = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', id: 'save_button', name: 'save', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}, autocomplete: "off", onclick: "$(this).nextAll('#close_and_pay_button').first().removeAttr('data-disable-with'); $(this).nextAll('#close_button').first().removeAttr('data-disable-with');") do
          %i.fa.fa-folder-open-o.fa-lg
          Save
      %div.col-xs-3.col-sm-3
        = button_tag(close_ticket: true, :type => 'submit', :class => 'btn btn-primary btn-lg btn-block', id: 'close_button', name: 'close_ticket', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Close ticket"}, autocomplete: "off", onclick: "$(this).nextAll('#close_and_pay_button').first().removeAttr('data-disable-with'); $(this).prevAll('#save_button').first().removeAttr('data-disable-with');") do
          %i.fa.fa-folder.fa-lg
          Close
      %div.col-xs-3.col-sm-3
        = button_tag(close_and_pay: true, :type => 'submit', :class => 'btn btn-primary btn-lg btn-block', id: 'close_and_pay_button', name: 'close_and_pay', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay"}, autocomplete: "off", onclick: "$(this).prevAll('#close_button').first().removeAttr('data-disable-with'); $(this).prevAll('#save_button').first().removeAttr('data-disable-with');") do
          %i.fa.fa-dollar.fa-lg
          Pay
    %div#images
      
    %div{id: 'endless_page'}
      %p= image_tag("ajax-loader.gif", :id => "more_images_spinner", :alt => "Loading ...", style: "display:none;")
      %p= link_to 'More pictures ...', images_path(:page => nil, :q => {ticket_nbr_eq: @purchase_order.doc_number, location_eq: current_user.location}, :one_image_per_ticket => '0'), :class => 'load-more-images btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();" #if @images.next_page
      %p= link_to 'Re-load pictures ...', images_path(:page => nil, :q => {ticket_nbr_eq: @purchase_order.doc_number, location_eq: current_user.location}, :one_image_per_ticket => '0'), :class => 'reload-images btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show(); $('#images').empty(); $('a.load-more-images').attr('href', '<%= images_path page: @images.next_page, q: params[:q], one_image_per_ticket: params[:one_image_per_ticket] %>');", style: "display:none;" #if @images.next_page

=# render partial: "image_files/upload_form", locals: {event_code: "Gross"}
= render partial: "shared/purchase_order_footer_navbar", locals: {title: "Purchase Order"}