= render partial: "shared/navbars/purchase_orders_navbar", locals: {title: "Open"}
.container
  %p
    .btn-group
      %button{class: 'btn btn-default btn-lg active'}
        Open
      = link_to "Closed", bills_path, :class => "btn btn-default btn-lg", id: 'purchase_orders_to_closed', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
      = link_to "Paid", bill_payments_path, :class => "btn btn-default btn-lg", id: 'purchase_orders_to_paid', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}
  -#
    %div.row
      .col-xs-12.col-sm-12.col-md-12
        .btn-group{"data-toggle" => "buttons"}
          %label.btn.btn-lg.btn-default{onclick: "$('#open_purchase_orders').show(); $('#closed_purchase_orders').hide();", class: "#{(params[:status] == 'Open' or params[:status].blank?) ? 'active' : ''}"}
            %input#open{:autocomplete => "off", :name => "options", :type => "radio", }/
            Open
          %label.btn.btn-lg.btn-default{onclick: "$('#open_purchase_orders').hide(); $('#closed_purchase_orders').show();", class: "#{params[:status] == 'Closed' ? 'active' : ''}"}
            %input#closed{:autocomplete => "off", :name => "options", :type => "radio"}/
            Closed
        %br
        %br
  - if @open_purchase_orders.blank?
    .jumbotron
      %p.text-center No held tickets found
  %div{id: 'open_purchase_orders'}
    - @open_purchase_orders.sort_by(&:txn_date).reverse.each do |purchase_order|
      %div.row
        .col-xs-12.col-sm-12.col-md-12
          %div.panel.panel-primary
            %div.panel-body
              %a{href: edit_purchase_order_path(purchase_order.id), class: "", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading open ticket ..."}}
                =# purchase_order.vendor_ref
                %div.col-xs-12.col-sm-3.col-md-3= purchase_order.txn_date.strftime("%m/%d/%y")
                %div.col-xs-12.col-sm-3.col-md-3= purchase_order.doc_number
                %div.col-xs-12.col-sm-3.col-md-3
                  = @vendor_service.fetch_by_id(purchase_order.vendor_ref).display_name unless purchase_order.vendor_ref.blank?
                %div.col-xs-12.col-sm-3.col-md-3= number_to_currency(purchase_order.total)
              -#
                %a{href: new_bill_path(purchase_order_id: purchase_order.id), class: "list-group-item"}
                  Close ticket
                  .pull-right
                    %i.fa.fa-chevron-right
                  %br
                  %br
                .pull-right
                  %i.fa.fa-chevron-right
  -#
    %div{id: 'closed_purchase_orders', style: 'display: none;'}
      - @closed_purchase_orders.sort_by(&:txn_date).reverse.each do |purchase_order|
        %div.row
          .col-xs-12.col-sm-12.col-md-12
            %div.panel.panel-primary
              %div.list_group
                %a{href: purchase_order_path(purchase_order.id), class: "list-group-item"}
                  =# purchase_order.vendor_ref
                  = @vendor_service.fetch_by_id(purchase_order.vendor_ref).display_name unless purchase_order.vendor_ref.blank?
                  .pull-right
                    %i.fa.fa-chevron-right
                  %br
                  = purchase_order.doc_number
                  %br
                  -#
                    = purchase_order.po_status
                    %br/
                  %small
                    = purchase_order.txn_date.strftime("%m/%d/%Y")
                    %br
                    = number_to_currency(purchase_order.total)

  %div.row
    .text-center
      %div{id: 'endless_page'}
        %p= image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
        %p= link_to 'Load more ...', purchase_orders_path(:page => @open_purchase_orders.next_page), :class => 'load-more-purchase-orders btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#spinner').show();" if @open_purchase_orders.next_page

= render partial: "shared/footer_navbar", locals: {title: "Purchase Orders"}
