= render partial: "shared/navbars/show_purchase_order_navbar", locals: {title: "Open #{@purchase_order.doc_number}", purchase_order_id: @purchase_order.id}

.container
  .col-sm-12.col-md-4.col-md-offset-4
    .well
      %div
        %p
          %strong= "Vendor"
          %br
          = truncate(@vendor.display_name, length: 30)
      %div
        %p
          %strong= "Date"
          %br
          = @purchase_order.txn_date.strftime("%m/%d/%y")
      - unless @purchase_order.linked_transactions.blank?
        - @purchase_order.linked_transactions.each do |linked_transaction|
          %div.list-group-item
            %strong= "Linked transaction"
            .pull-right
              - if linked_transaction.txn_type == 'Bill'
                = link_to linked_transaction.txn_type, bill_path(linked_transaction.txn_id)
              - else
                = linked_transaction.txn_type
      %div
        %p
          %strong= "Total"
          %br
          = number_to_currency(@purchase_order.total)
    -#
      %div.panel.panel-default
        %div.panel-heading
          = "Ticket #{@purchase_order.doc_number}"
          .pull-right
            %strong= "#{@purchase_order.po_status == 'Open' ? 'Open' : 'Closed'}"
        %div.list_group
          %div.list-group-item
            %strong= "Vendor"
            .pull-right
              = truncate(@vendor.display_name, length: 30)
          %div.list-group-item
            %strong= "Date"
            .pull-right
              = @purchase_order.txn_date.strftime("%m/%d/%y")
          %div.list-group-item
            %strong= "Status"
            .pull-right
              = @purchase_order.po_status
          - unless @purchase_order.linked_transactions.blank?
            - @purchase_order.linked_transactions.each do |linked_transaction|
              %div.list-group-item
                %strong= "Linked transaction"
                .pull-right
                  - if linked_transaction.txn_type == 'Bill'
                    = link_to linked_transaction.txn_type, bill_path(linked_transaction.txn_id)
                  - else
                    = linked_transaction.txn_type
          %div.list-group-item
            %strong= "Total"
            .pull-right
              = number_to_currency(@purchase_order.total)

  - @purchase_order.line_items.each_with_index do |line_item, index|
    .col-sm-12.col-md-4.col-md-offset-4
      .well
        %div
          =# @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name
          =# "#{index + 1}."
          %p
            = line_item.item_based_expense_line_detail.item_ref.name
            = "(#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description})"
        %div
          %p
            %strong Description
            %br
            = line_item.description
        %div
          %p
            %strong Load
            %br
            = line_item.item_based_expense_line_detail.quantity
        %div
          %p
            %strong Rate
            %br
            = number_to_currency(line_item.item_based_expense_line_detail.unit_price)
        %div
          %p
            %strong Amount
            %br
            = number_to_currency(line_item.amount)

      -#
        %div.panel.panel-default
          %div.panel-heading
            =# @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name
            = "#{index + 1}."
            = line_item.item_based_expense_line_detail.item_ref.name
            = "(#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description})"
          %div.list_group
            %div.list-group-item
              %strong Description
              .pull-right= line_item.description
            %div.list-group-item
              %strong Load
              .pull-right= line_item.item_based_expense_line_detail.quantity
            %div.list-group-item
              %strong Rate
              .pull-right= number_to_currency(line_item.item_based_expense_line_detail.unit_price)
            %div.list-group-item
              %strong Amount
              .pull-right= number_to_currency(line_item.amount)
  - unless @images.blank?
    .col-sm-12.col-md-4.col-md-offset-4
      -#
        .list-group
          - @images.each do |image|
            %a.list-group-item.clearfix{:href => "#"}
              %strong= image.event_code
              %span.pull-right
                = image_tag(show_preview_image_image_path(image), alt: image.id, class: 'thumbnail img-responsive col-sm-1 col-md-1')
      - @images.each_slice(3) do |images|
        %div.row
          - images.each do |image|
            .col-sm-3.col-md-3
              %div.thumbnail
                - unless image.hidden?
                  = link_to image_tag(show_preview_image_image_path(image), alt: image.id, class: 'thumbnail img-responsive'), image
                .text-center= image.event_code
  -#
    %div.panel.panel-default
      %div.panel-heading
        = "Item details"
      %table.table
        %thead
          %tr
            %th Item
            %th Desc
            %th Quan
            %th Rate
            %th Amt
        %tbody
          - @purchase_order.line_items.each do |line_item|
            %tr
              %td= truncate(@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name, length: 15)
              %td= line_item.description
              %td= line_item.item_based_expense_line_detail.quantity
              %td= line_item.item_based_expense_line_detail.unit_price
              %td= number_to_currency(line_item.amount)
          %tr
            %td
            %td
            %td
            %td
            %td= "Total: #{number_to_currency(@purchase_order.total)}"


    -#
      - @qb_purchase_order.line_items.each do |line_item|
        %div.list_group
          %div.list-group-item
            %strong= "Commodity:"
            .pull-right
              = line_item.id
              =# @item_service.fetch_by_id(line_item.id).id
      -#
        %div.list_group
          %div.list-group-item
            %strong= "Purchase Order #:"
            .pull-right
              = @qb_purchase_order.doc_number
          %div.list-group-item
            %strong= "Vendor:"
            .pull-right
              = @qb_vendor.display_name
          %div.list-group-item
            %strong= "Amount:"
            .pull-right
              = number_to_currency(@qb_purchase_order.total)
  -#
    .col-xs-12.col-sm-12.col-md-12
  .col-sm-12.col-md-4.col-md-offset-4
    - if @purchase_order.po_status == 'Open'
      = link_to "Close Ticket #{@purchase_order.doc_number}", new_bill_path(purchase_order_id: @purchase_order.id), class: 'btn btn-primary btn-lg btn-block'
    =# link_to "Edit Purchase Order", edit_purchase_order_path(@purchase_order.id), class: 'btn btn-primary btn-lg btn-block'

=# render partial: "shared/footer_navbar", locals: {title: "Purchase Order"}
= render partial: "shared/purchase_order_footer_navbar", locals: {title: "Purchase Order"}