%center
  = @purchase_order.doc_number
  %br
  = DateTime.now.strftime("%a, %d %b %Y %I:%M%p")
  
- unless @current_user.company.logo_url.blank?
  =# image_tag(@current_user.company.logo_url, size: '50x50')
  =# image_tag(@current_user.company.logo_url.path, size: '50x50')
  = image_tag ["http://", request.host_with_port, @current_user.company.logo_url.url].join()
  =# image_tag("http://localhost:3000/uploads/company/logo_url/404168351/recycle_logo_57x57.png")
  =# image_tag image_url(@current_user.company.logo_url.path)
- else
  = wicked_pdf_image_tag 'recycle_logo_57x57.png'
%strong= @company_info.company_name
%br
- unless @company_info.company_address.blank?
  = @company_info.company_address.line1
  %br
  = "#{@company_info.company_address.city}, #{@company_info.company_address.country_sub_division_code} #{@company_info.company_address.postal_code}"
  %br
= @company_info.primary_phone.free_form_number unless @company_info.primary_phone.blank?
%br

- unless @current_user.company.custom_field_1.blank?
  %strong= "#{@current_user.company.custom_field_1}: "
  = @current_user.company.custom_field_1_value
  %br
- unless @current_user.company.custom_field_2.blank?
  %strong= "#{@current_user.company.custom_field_2}: "
  = @current_user.company.custom_field_2_value
  %br
-#      
  %strong= "Ticket: "
  = @purchase_order.doc_number
%strong= "Vendor: "
= @vendor.display_name

%table.table
  %thead
    %tr
      %td Item
      %td Gross
      %td Tare
      %td Net
      %td Unit
      %td Rate
      %td Amount
  %tbody
    - @purchase_order.line_items.each do |line_item|
      %tr
        %td= "#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name}:"
        %td= "#{line_item.description.split(' - ').first}"
        %td= "#{line_item.description.split(' - ').second}"
        %td= line_item.item_based_expense_line_detail.quantity
        %td= "#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).purchase_desc}"
        %td= "$#{number_with_precision(line_item.item_based_expense_line_detail.unit_price, :precision => 3)}"
        %td= number_to_currency(line_item.amount)
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
        %strong= "Total: #{number_to_currency(@purchase_order.total)}"
    - unless @signature_image.blank?
      %tr
        %td{colspan: "5"}
          %p= image_tag(@signature_image.jpeg_image_data_uri, style: 'width: 150%')
    - unless @finger_print_image.blank?
      %tr
        %td{colspan: "2"}
          %p= image_tag(@finger_print_image.jpeg_image_data_uri, style: 'width: 75%')