%div{:id => "upload_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
  = form_for ImageFile.new do |f|
    .modal-dialog.modal-sm
      .modal-content
        -#
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            %strong Pictures
        .modal-body
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :location, value: session[:realm_id]
          = f.hidden_field :tare_seq_nbr
          = f.hidden_field :cmdy_name
          = f.hidden_field :weight
          .form-group
            = f.label "Ticket Number*", :class => 'control-label'
            = f.text_field :ticket_number, :placeholder => "Ticket Number", value: "#{@doc_number.present? ? @doc_number : @ticket_number}", class: "form-control input-lg", required: true, readonly: true
          .form-group{:id => "event_code"}
            = f.label "Event Code", :class => 'control-label'
            = f.select :event_code, options_for_select(ticket_event_codes), {prompt: "Select event code"}, {:class => "form-control input-lg", onchange: "$('#upload_button').show();"}
            =# f.select :event_code, options_for_select(LookupDef.image_event_codes.map(&:LookupValue)), {prompt: "Select event code"}, {:class => "form-control input-lg", onchange: "$('#upload_button').show();"}
          .form-group
            -#
              = f.label "File*", :class => 'control-label'
              = f.file_field :file, title: "<i class='fa fa-photo'/> Choose image".html_safe, class: 'btn btn-warning', required: true

          %div{:id => 'uploads', :style => 'display:block;'}
            %p{id: "upload_button", style: "display:block;"}
              = f.file_field :file, name: "image_file[file]", :type => 'file', :class => 'btn-primary btn-block btn-lg', title: "<i class='fa fa-camera'/> Picture".html_safe
          .picture_loading_spinner{:style => "display:none;", :id => "spinner"}
            = image_tag("ajax-loader.gif", :id => "loading_spinner", :alt => "Loading")
            Uploading ...
          #pictures

          .clear
          %script{:id => "template-upload", :type => "text/x-tmpl"}
            .upload
              {%=o.name%}
              .progress.progress-striped
                .progress-bar{:style => "width: 0%"}
          %script{:id => "template-download", :type => "text/x-tmpl"}
            .download
              {%=o.name%}
        
        .modal-footer
          %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Done
          -#
            %div#images
              - unless @images.blank?
                - @images.each_slice(2) do |images|
                  %div.row
                    - images.each do |image|
                      .col-xs-12.col-sm-6.col-md-6.col-lg-6
                        %div.thumbnail
                          - unless image.hidden?
                            = image_tag(show_preview_image_image_path(image))
          -#
            = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg', id: "new_image_file_submit", data: { disable_with: "Please wait..." }) do
              Upload
              %i.fa.fa-arrow-up

:javascript
  //$('input[type=file]').bootstrapFileInput();

  //Required attribute fallback
  function attributeSupported(attribute) {
    return (attribute in document.createElement("input"));
  }
  function isSafariOnly() {
    return navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1;
  }
  $(function () {
    $('#new_image_file').submit(function () {
      if (!attributeSupported("required") || isSafariOnly()) {
        $("#new_image_file [required]").each(function (index) {
          if (!$(this).val()) {
            alert("Please Fill In All Required Fields.");
            return false;
          }
        });
      }
      return true;
    });
  });

  // Don't allow for form submit until form fields completed
  //$("#new_image_file_submit").attr("disabled", "disabled");
  $("#new_image_file_submit").hide();

  // Make check if ticket number changes
  $("#image_file_ticket_number").on("change", function() {
    if($("#image_file_ticket_number").val() && $("#image_file_file").val() && $("#image_file_event_code").val()) {
      //$("#new_image_file_submit").removeAttr("disabled");
      $("#new_image_file_submit").show();
    }
    else {
      //$("#new_image_file_submit").attr("disabled", "disabled");
      $("#new_image_file_submit").hide();
    }
  });

  // Make check if file changes
  $("#image_file_file").on("change", function() {
    if($("#image_file_ticket_number").val() && $("#image_file_file").val() && $("#image_file_event_code").val()) {
      //$("#new_image_file_submit").removeAttr("disabled");
      $("#new_image_file_submit").show();
    }
    else {
      //$("#new_image_file_submit").attr("disabled", "disabled");
      $("#new_image_file_submit").hide();
    }
  });

  // Make check if event code changes
  $("#image_file_event_code").on("change", function() {
    if($("#image_file_ticket_number").val() && $("#image_file_file").val() && $("#image_file_event_code").val()) {
      //$("#new_image_file_submit").removeAttr("disabled");
      $("#new_image_file_submit").show();
    }
    else {
      //$("#new_image_file_submit").attr("disabled", "disabled");
      $("#new_image_file_submit").hide();
    }
  });