- @bill_payments.sort_by(&:txn_date).reverse.each do |bill_payment|
  %div.row
    .col-xs-12.col-sm-12.col-md-12
      %div.panel.panel-primary
        -#
          %div.panel-body{style: "padding: 0;"}
            %div.col-xs-3.col-sm-3.col-md-3.col-lg-3{style: "padding: 0;"}
              %a{href: bill_payment_path(bill_payment.id), class: "", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-5x'></i>"}}
                - if Image.where(ticket_nbr: bill_payment.doc_number, event_code: "Gross").count > 0
                  = image_tag(show_preview_image_image_path(Image.where(ticket_nbr: bill_payment.doc_number, event_code: "Gross").last.id), class: 'img-responsive')
                - else
                  %span.fa-stack.fa-3x
                    %i.fa.fa-ban.fa-stack-2x
                    %i.fa.fa-camera.fa-stack-1x
                  =# image_tag("no_photo320x240.jpeg", class: 'img-responsive')
        -#
          %div.panel-body
            %div.col-xs-4.col-sm-4.col-md-4.col-lg-4
              %a{href: bill_payment_path(bill_payment.id), class: "bill_payment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{bill_payment.doc_number}"}}
                = bill_payment.doc_number
                %br
                %small= bill_payment.txn_date.strftime("%m/%d/%y")
            %div.col-xs-4.col-sm-4.col-md-4.col-lg-4= bill_payment.vendor_ref.name unless bill_payment.vendor_ref.blank?
            %div.col-xs-4.col-sm-4.col-md-4.col-lg-4= number_to_currency(bill_payment.total)
            .pull-right
              %a{href: bill_payment_path(bill_payment.id, format: 'pdf'), target: '_blank'}
                %i.fa.fa-file-pdf-o.fa-lg
              &nbsp;
        %div.list_group
          %a{href: bill_payment_path(bill_payment.id), class: "list-group-item bill_payment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{bill_payment.doc_number} #{bill_payment.vendor_ref.name}"}}
            .pull-right
              &nbsp;
              %i.fa.fa-chevron-right
            - if current_user.user_setting.show_bill_payment_thumbnails? and Image.where(ticket_nbr: bill_payment.doc_number, location: current_company_id, event_code: "Gross").count > 0
              = image_tag(show_preview_image_image_path(Image.where(ticket_nbr: bill_payment.doc_number, location: current_company_id, event_code: "Gross").last.id), class: 'thumbnail img-responsive')
            = bill_payment.doc_number
            = bill_payment.vendor_ref.name unless bill_payment.vendor_ref.blank?
            .pull-right
              = number_to_currency(bill_payment.total)
          %a{href: bill_payment_path(bill_payment.id, format: 'pdf'), class: "list-group-item", target: '_blank'}
            = bill_payment.txn_date.strftime("%m/%d/%y")
            .pull-right
              %i.fa.fa-file-pdf-o.fa-lg
              Print