- @bill_payments.sort_by(&:txn_date).reverse.each do |bill_payment|
  %div.row
    .col-xs-12.col-sm-12.col-md-12
      %div.panel.panel-primary
        %div.panel-body{style: "padding: 0;"}
          %a{href: bill_payment_path(bill_payment.id), class: "", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait..."}}
            %div.col-xs-3.col-sm-3.col-md-3.col-lg-3{style: "padding: 0;"}
              - if Image.where(ticket_nbr: bill_payment.doc_number, event_code: "Gross").count > 0
                = image_tag(show_preview_image_image_path(Image.where(ticket_nbr: bill_payment.doc_number, event_code: "Gross").last.id), class: 'img-responsive')
              - else
                = image_tag("no_photo320x240.jpeg", class: 'img-responsive')
            %div.col-xs-3.col-sm-3.col-md-3.col-lg-3
              = bill_payment.doc_number
              %br
              %small= bill_payment.txn_date.strftime("%m/%d/%y")
            %div.col-xs-3.col-sm-3.col-md-3.col-lg-3= bill_payment.vendor_ref.name unless bill_payment.vendor_ref.blank?
            %div.col-xs-3.col-sm-3.col-md-3.col-lg-3= number_to_currency(bill_payment.total)
          .pull-right
            %a{href: bill_payment_path(bill_payment.id, format: 'pdf'), target: '_blank'}
              %i.fa.fa-file-pdf-o.fa-lg
            &nbsp;