= render partial: "shared/navbars/new_and_edit_bill_payment_navbar", locals: {title: "#{@bill.doc_number}", total: number_to_currency(@bill.balance)}

.container
  = form_tag bill_payments_path, id: 'bill_payment_form', :class => "form-horizontal" do |f|
    #vendor_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      .panel.panel-default
        %div.panel-heading{:role => "tab", id: "vendor_heading"}
          %h4.panel-title
            %a{"aria-controls" => "collapseVendor", "aria-expanded" => "true", "data-parent" => "#vendor_accordion", "data-toggle" => "collapse", :href => "#collapseVendor", :role => "button"}
              Vendor
        #collapseVendor.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
          .panel-body
            = hidden_field "bill_payment[vendor]", @bill.vendor_ref
        %div.panel-footer
          .vendor_name= @bill.vendor_ref.name
    %div.bill_input_fields_wrap
      #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        - @bill.line_items.each do |line_item|
          .panel.panel-default
            %div.panel-heading{:role => "tab", id: "heading#{line_item.id}"}
              %h4.panel-title
                %a.line_item_name{"aria-controls" => "collapse#{line_item.id}", "aria-expanded" => false, "data-parent" => "#items_accordion", "data-toggle" => "collapse", :href => "#collapse_#{line_item.id}", :role => "button", class: "collapsed"}
                  = @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name
                  =# " (#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description})"
                =# hidden_field_tag :item_description, @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description
            %div{id: "collapse_#{line_item.id}", "aria-labelledby" => "heading#{line_item.id}", :role => "tabpanel", class: "panel-collapse collapse", "aria-expanded" => false}
              .panel-body
            %div.panel-footer
              =# "(#{line_item.description}) ="
              = "(#{line_item.description.split(' - ').first} - #{line_item.description.split(' - ').second}) ="
              = "#{number_with_precision(line_item.item_based_expense_line_detail.quantity, :precision => 0)}#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description}"
              = " x #{number_to_currency(line_item.item_based_expense_line_detail.unit_price)}"
              = "= #{number_to_currency(line_item.amount)}"
    .well
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          =# select_tag "bill_payment[vendor]", options_from_collection_for_select(@vendors, "id", "display_name", @bill.vendor_ref), prompt: "Choose a vendor", class: "form-control input-lg", required: true
          =# select_tag "bill_payment[vendor]", options_from_collection_for_select(@vendors, "id", "display_name", @bill.vendor_ref), prompt: "Choose a vendor", class: "form-control input-lg", required: true
          
          = label_tag "Payment", nil, :class => 'control-label'
          %p.text-center
            .btn-group-horizontal{"data-toggle" => "buttons"}
              - @accounts.each_with_index do |account, index|
                %label.btn.btn-lg.btn-default{class: "#{index == 0 ? 'active' : ''}"}
                  - if index == 0
                    = radio_button_tag "bill_payment[pay_account]", account.id, checked: true
                  - else
                    = radio_button_tag "bill_payment[pay_account]", account.id
                  = account.name
          =# select_tag "bill_payment[pay_account]", options_from_collection_for_select(@accounts, "id", "name"), class: "form-control input-lg", required: true
          =# select_tag "bill_payment[pay_type]", options_for_select(["Cash", "Check", "CreditCard"], "Cash"), prompt: "Choose payment type", class: "form-control input-lg", required: true
          = label_tag "Amount", nil, :class => 'control-label'
          -#
            %p= number_to_currency(@bill.total)
          =# hidden_field_tag "bill_payment[total]", @bill.total
          .input-group.col-xs-12.col-sm-6.col-md-3
            .input-group-addon $
            = number_field_tag "bill_payment[total]", number_with_precision(@bill.balance, :precision => 2), max: "#{@bill.balance}", min: 0, step: "0.01", :placeholder => "Amount", class: "form-control input-lg", required: true
          = hidden_field_tag "bill_payment[doc_number]", @bill.doc_number
          = hidden_field_tag :bill_id, @bill.id
    .row.form-group
      %div{:class => "col-sm-12 col-md-12"}
        = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay"}, autocomplete: "off") do
          %i.fa.fa-dollar.fa-lg
          Pay
    %hr
    %div#images

= render partial: "shared/bill_payment_footer_navbar", locals: {title: "BillPayment"}