= render partial: "shared/navbars/show_bill_payment_navbar", locals: {title: "Paid #{@bill_payment.doc_number}", bill_payment_id: @bill_payment.id, total: "#{number_to_currency(@bill_payment.total)}"}
- @title="Paid #{@bill_payment.doc_number}" 

.container
  -#
    %p
      .btn-group
        = link_to "Vendors", vendors_path, :class => "btn btn-default btn-lg", id: 'payments_to_vendors', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Vendors"}
        = link_to "Open", purchase_orders_path, :class => "btn btn-default btn-lg", id: 'payments_to_open', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}
        = link_to "Closed", bills_path, :class => "btn btn-default btn-lg", id: 'payments_to_closed', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
        %button{class: 'btn btn-default btn-lg active'}
          Paid
      
  #vendor_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.panel-default
      %div.panel-heading{:role => "tab", id: "vendor_heading"}
        %h4.panel-title
          %a{"aria-controls" => "collapseVendor", "aria-expanded" => "true", "data-parent" => "#vendor_accordion", "data-toggle" => "collapse", :href => "#collapseVendor", :role => "button"}
            Vendor
      #collapseVendor.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
        .panel-body
      %div.panel-footer
        %a{href: edit_vendor_path(@bill_payment.vendor_ref), id: "edit_vendor_link", target: '_blank'}
          = @bill_payment.vendor_ref.name
  #items_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    - @bill.line_items.each do |line_item|
      .panel.panel-default
        %div.panel-heading{:role => "tab", id: "heading#{line_item.id}"}
          %h4.panel-title
            %a.line_item_name{"aria-controls" => "collapse#{line_item.id}", "aria-expanded" => false, "data-parent" => "#items_accordion", "data-toggle" => "collapse", :href => "#collapse_#{line_item.id}", :role => "button", class: "collapsed"}
              =# @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).name
              = line_item.item_based_expense_line_detail.item_ref.name
              =# " (#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description})"
            =# hidden_field_tag :item_description, @item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description
        %div{id: "collapse_#{line_item.id}", "aria-labelledby" => "heading#{line_item.id}", :role => "tabpanel", class: "panel-collapse collapse", "aria-expanded" => false}
          .panel-body
        %div.panel-footer
          = "(#{line_item.description.split(' - ').first} - #{line_item.description.split(' - ').second}) ="
          = "#{number_with_precision(line_item.item_based_expense_line_detail.quantity, :precision => 0)}#{@item_service.fetch_by_id(line_item.item_based_expense_line_detail.item_ref).description}"
          = " x $#{number_with_precision(line_item.item_based_expense_line_detail.unit_price, :precision => 5)}"
          = "= #{number_to_currency(line_item.amount)}"

  .well
    .row.form-group
      %div{:class => "col-sm-12 col-md-12"}
        = label_tag "Payment", nil, :class => 'control-label'
        %br
        = "#{number_to_currency(@bill_payment.total)} (#{@bill_payment.check_payment.bank_account_ref.name})"
  .row.form-group
    %div{:class => "col-sm-12 col-md-12"}
      %a{href: bill_payment_path(@bill_payment.id, now: DateTime.now, format: 'pdf'), class: 'btn btn-primary btn-lg btn-block', target: '_blank'}
        %i.fa.fa-file-pdf-o.fa-lg
        Print  
  
  %div#images
    -#
      %a{href: "#{current_user.images_table? ? images_path("q[ticket_nbr_eq]" => @bill_payment.doc_number, "q[location_eq]" => current_user.location) : shipments_path("q[ticket_nbr_eq]" => @purchase_order.doc_number, "q[location_eq]" => current_user.location)}", target: '_blank'}
        = "Ticket #{@bill_payment.doc_number} Pictures"
    -#
      - unless @images.blank?
        - @images.each_slice(6) do |images|
          %div.row
            - images.each do |image|
              .col-xs-12.col-sm-2.col-md-2.col-lg-2
                %div.thumbnail
                  - unless image.hidden?
                    = link_to image_tag(show_preview_image_image_path(image)), image

  %div{id: 'endless_page'}
    %p= image_tag("ajax-loader.gif", :id => "more_images_spinner", :alt => "Loading ...", style: "display:none;")
    %p= link_to 'More pictures ...', images_path(:page => nil, :q => {ticket_nbr_eq: @bill_payment.doc_number, location_eq: current_user.location}, :one_image_per_ticket => '0'), :class => 'load-more-images btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();" #if @images.next_page

  
= render partial: "shared/bill_payment_footer_navbar", locals: {title: "BillPayment"}