- unless current_user.blank?
  = render partial: "shared/navbars/base_navbar", locals: {title: "Home"} unless current_user.qbo_access_credential.blank?
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      %h2.text-center
        -# if user_signed_in? && session[:token]
        -#
          - if user_signed_in? and not @company_info.blank?
            %p= @company_info.company_name
        <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

      - if current_user.qbo_access_credential.blank?
        .well.col-sm-6.col-md-4.col-md-offset-4
          = form_tag set_user_location_user_settings_path, :class => "form-horizontal" do |f|
            .row.form-group
              %div{:class => "col-sm-12 col-md-12"}
                = label_tag "QuickBooks Admin Email", nil, :class => 'control-label'
                %br/
                = email_field_tag "user_setting[admin_email]", nil, placeholder: "admin@mail.com", :class => "form-control input-lg"
            .row.form-group
              %div{:class => "col-sm-12 col-md-12"}
                = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submit"}, autocomplete: "off") do
                  Submit
      - else
        %div.row
          %p
          .col-xs-12
            %a.btn.btn-primary.btn-lg.btn-block{:href => vendors_path,  id: 'welcome_to_vendors', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Vendors"}} 
              %i.fa.fa-users.fa-lg
              Vendors
        %div.row
          %p
            .col-xs-12
              %a.btn.btn-primary.btn-lg.btn-block{:href => purchase_orders_path,  id: 'welcome_to_open', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}} 
                %i.fa.fa-folder-open-o.fa-lg
                Open
              =# link_to "Open", purchase_orders_path, :class => "btn btn-warning btn-lg btn-block", id: 'welcome_to_open', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}
        %div.row
          %p
            .col-xs-12
              %a.btn.btn-primary.btn-lg.btn-block{:href => bills_path,  id: 'welcome_to_closed', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}} 
                %i.fa.fa-folder.fa-lg
                Closed
              =# link_to "Closed", bills_path, :class => "btn btn-success btn-lg btn-block", id: 'welcome_to_closed', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
        %div.row
          %p
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => bill_payments_path,  id: 'welcome_to_paid', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}} 
                %i.fa.fa-dollar.fa-lg
                Paid
              =# link_to "Paid", bill_payments_path, :class => "btn btn-default btn-lg btn-block purchase_order_button", id: 'purchase_orders_to_bill_payments', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => items_path,  id: 'welcome_to_items', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Items"}} 
                %i.fa.fa-th-list.fa-lg
                Items
              =# link_to "Items", items_path, :class => "btn btn-default btn-lg btn-block purchase_order_button", id: 'purchase_orders_to_items', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Items"}
  


        <script>
        - if current_user and current_user.qbo_access_credential.blank?
          intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '#{authenticate_quickbooks_url}'});
          -# intuit.ipp.anywhere.directConnectToIntuit();
        -#
          - if user_signed_in? && !session[:token]
            intuit.ipp.anywhere.directConnectToIntuit();
        </script>
        -#
          - if user_signed_in? && current_user.qbo_access_credential.blank?
            <ipp:connectToIntuit></ipp:connectToIntuit>
          
        -#
          <script>
          intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '#{authenticate_quickbooks_url}'});
          - if user_signed_in? && !session[:token]
            intuit.ipp.anywhere.directConnectToIntuit();
            Connecting to Quickbooks ...
          </script>

        -#
          <script>
          intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '#{authenticate_quickbooks_url}'});
          - if user_signed_in? && !session[:token]
            intuit.ipp.anywhere.directConnectToIntuit();
          </script>
        
        -# unless session[:token]
        - if user_signed_in? && current_user.qbo_access_credential.blank?
          -#
            %i.fa.fa-spinner.fa-spin
            = "Connecting to Quickbooks ..."
          -#
            <!-- this will display a button that the user clicks to start the flow -->
            <ipp:connectToIntuit></ipp:connectToIntuit>
        
  = render partial: "shared/home_footer_navbar", locals: {title: "Welcome"} if current_user.active? and License.valid?

- else
  -#
    - unless mobile_device?
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel", "data-pause" => ""}
        .carousel-inner
          -#
            .item.active
              %div{style: "background-image:('#{url("scrap-metals.jpg")}') center center; background-size:cover;", class: "homepage-slider-size"}
          .item.active
            %div{style: "background:url('#{asset_path "scrap-metals.jpg"}') center center; background-size:cover;", class: "homepage-slider-size"}
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      -#
        .col-sm-12.col-md-4.col-md-offset-4
          %a.btn.btn-primary.btn-lg{:href => new_user_session_path, :role => "button", :class => 'btn-block'} Log In
      
      %p.text-center Scrap Yard Ticket Management Made Easy!
      .col-sm-12.col-md-4.col-md-offset-4
        = image_tag("syd_transparent_metal_logo_624x351.jpg", class: 'img-responsive')
      .row
        .col-sm-12.col-md-4.col-md-offset-4
          %p.text-center.inline
            %a{href: 'http://173.227.154.149:8082/login', class: 'btn btn-lg btn-primary welcome_button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Scrap Dragon"}} 
              %i.fa.fa-lock
              Scrap Dragon
            %a{href: new_user_session_path, class: 'btn btn-lg btn-success welcome_button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Quickbooks"}}
              %i.fa.fa-lock
              QuickBooks
      -#
        %h2.text-center
          <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
          <ipp:login href="#{user_omniauth_authorize_path(:intuit)}" type="vertical"></ipp:login>

= render 'shared/footer'