.container
  = form_tag bill_payments_path, id: 'bill_payment_form', :class => "form-horizontal" do |f|
    .row.form-group
      %div{:class => "col-sm-12 col-md-12"}
        = hidden_field "bill_payment[vendor]", bill.vendor_ref
        %p.text-center
          .btn-group-horizontal{"data-toggle" => "buttons"}
            - @accounts.each_with_index do |account, index|
              %label.btn.btn-lg.btn-default{class: "#{index == 0 ? 'active' : ''}"}
                - if index == 0
                  = radio_button_tag "bill_payment[pay_account]", account.id, checked: true
                - else
                  = radio_button_tag "bill_payment[pay_account]", account.id
                = account.name
        = label_tag "Amount", nil, :class => 'control-label'
        =# hidden_field_tag "bill_payment[total]", bill.total
        .input-group.col-xs-12.col-sm-6.col-md-3
          .input-group-addon $
          = number_field_tag "bill_payment[total]", number_with_precision(bill.balance, :precision => 2), max: "#{bill.balance}", min: 1, :placeholder => "Amount", class: "form-control input-lg", required: true
        = hidden_field_tag "bill_payment[doc_number]", bill.doc_number
        = hidden_field_tag :bill_id, bill.id
    .row.form-group
      = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay..."}, autocomplete: "off") do
        Pay