= render partial: "shared/navbars/bills_navbar", locals: {title: "Closed"}
- @title="Closed" 

.container
  %p
    .btn-group
      = link_to "Vendors", vendors_path, :class => "btn btn-default btn-lg", id: 'bills_to_vendors', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Vendors"}
      = link_to "Open", purchase_orders_path, :class => "btn btn-default btn-lg", id: 'bills_to_open', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}
      %button{class: 'btn btn-default btn-lg active'}
        Closed
  - if @open_bills.blank?
    .jumbotron
      %p.text-center No closed tickets found
  - else
    -#
      %div.row
        .col-xs-12.col-sm-12.col-md-12
          %div.panel{style: 'border: 0;'}
            %div.panel-body
              %div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                %strong Ticket
              %div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                %strong Vendor
              %div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                %strong Balance
    %div{id: 'open_bills'}
      - @open_bills.sort_by(&:txn_date).reverse.each do |bill|
        %div.row
          .col-xs-12.col-sm-12.col-md-12
            %div.panel.panel-primary
              -#
                %div.panel-body{style: "padding: 0;"}
                  %div.col-xs-3.col-sm-3.col-md-3.col-lg-3{style: "padding: 0;"}
                    %a{href: edit_bill_path(bill.id), class: "", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-5x'></i>"}}
                      - if Image.where(ticket_nbr: bill.doc_number, location: current_company_id, event_code: "Gross").count > 0
                        = image_tag(show_preview_image_image_path(Image.where(ticket_nbr: bill.doc_number, location: current_company_id, event_code: "Gross").last.id), class: 'img-responsive')
                      - else
                        %span.fa-stack.fa-3x
                          %i.fa.fa-ban.fa-stack-2x
                          %i.fa.fa-camera.fa-stack-1x
                        =# image_tag("no_photo320x240.jpeg", class: 'img-responsive')
              -#
                %div.panel-body
                  %div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                    %a{href: edit_bill_path(bill.id), class: "bill_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{bill.doc_number}"}}
                      = bill.doc_number
                      %br
                      %small= bill.txn_date.strftime("%m/%d/%y")
                  %div.col-xs-4.col-sm-4.col-md-4.col-lg-4= bill.vendor_ref.name unless bill.vendor_ref.blank?
                  %div.col-xs-4.col-sm-4.col-md-4.col-lg-4= number_to_currency(bill.balance)
                  .pull-right
                    =# link_to "Pay", new_bill_payment_path(bill_id: bill.id), class: 'btn btn-sm btn-primary pay_button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay..."}
                    %a.btn.btn-sm.btn-primary{"data-content" => "#{render partial: 'more_bill_options', locals: {bill: bill}}", "data-placement" => 'left', "data-html" => "true", "data-toggle" => "popover", :role => "button", :tabindex => "0", title: "Print or Pay"}
                      More
                    &nbsp;
              %div.list_group
                %a{href: edit_bill_path(bill.id), class: "list-group-item bill_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{bill.doc_number} #{bill.vendor_ref.name}"}}
                  .pull-right
                    &nbsp;
                    %i.fa.fa-chevron-right
                  - if current_user.user_setting.show_bill_thumbnails? and Image.where(ticket_nbr: bill.doc_number, location: current_company_id, event_code: "Gross").count > 0
                    = image_tag(show_preview_image_image_path(Image.where(ticket_nbr: bill.doc_number, location: current_company_id, event_code: "Gross").last.id), class: 'thumbnail img-responsive')
                  = bill.doc_number
                  = bill.vendor_ref.name unless bill.vendor_ref.blank?
                  .pull-right
                    = number_to_currency(bill.balance)
                    
                %div.list-group-item
                  = bill.txn_date.strftime("%m/%d/%y")
                  .pull-right
                    %a.btn.btn-sm.btn-primary{class: "", "data-content" => "#{render partial: 'more_bill_options', locals: {bill: bill}}", "data-placement" => 'left', "data-html" => "true", "data-toggle" => "popover", :role => "button", :tabindex => "0", title: "Print or Pay"}
                      More
              -#
                %div.list_group
                  %a{href: edit_bill_path(bill.id), class: "list-group-item"}
                    = @vendor_service.fetch_by_id(bill.vendor_ref).display_name unless bill.vendor_ref.blank?
                    .pull-right
                      %i.fa.fa-chevron-right
                    %br
                    = bill.doc_number
                    %br
                    %small
                      = bill.txn_date.strftime("%m/%d/%y")
                      %br
                      Total:
                      = number_to_currency(bill.total)
                      %br
                      Balance:
                      = number_to_currency(bill.balance)
                  -#
                    %a{href: new_bill_payment_path(bill_id: bill.id), class: "list-group-item"}
                      Pay Bill
                      .pull-right
                        %i.fa.fa-chevron-right
                      %br
                      %br

  %div.row
    .text-center
      %div{id: 'endless_page'}
        %p= image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
        %p= link_to 'Load more ...', bills_path(:page => @open_bills.next_page), :class => 'load-more-bills btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#spinner').show();" if @open_bills.next_page

= render partial: "shared/bills_footer_navbar", locals: {title: "Bills"}
