= render partial: "shared/navbars/show_company_navbar", locals: {title: @company.CompanyName}
- @title="#{@company.CompanyName}" 

.container
  %div.row
    .col-xs-12.col-sm-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            Company Info 
            .pull-right
              = link_to 'Edit', edit_company_path(@company)
        %ul.list-group
          %li.list-group-item
            = "Company ID:"
            .pull-right
              = "#{@company.CompanyID}" 
        %ul.list-group
          %li.list-group-item
            = "Custom Field 1:"
            .pull-right
              = "#{@company.custom_field_1}"
          %li.list-group-item
            = "Custom Field 1 Value:"
            .pull-right
              = "#{@company.custom_field_1_value}"
        %ul.list-group
          %li.list-group-item
            = "Custom Field 2:"
            .pull-right
              = "#{@company.custom_field_2}"
          %li.list-group-item
            = "Custom Field 2 Value:"
            .pull-right
              = "#{@company.custom_field_2_value}"
        %ul.list-group
          %li.list-group-item
            = "Logo:"
            .pull-right
              = "#{@company.logo_url}"
          - unless @company.logo_url.blank?
            %li.list-group-item
              = image_tag(@company.logo_url, class: 'img-responsive')
      .panel.panel-default
        .panel-heading
          %h4.panel-title 
            Leads Online Info 
            .pull-right
              = link_to 'Edit', edit_company_path(@company)
        %ul.list-group
          %li.list-group-item
            = "Leads Online Store ID:"
            .pull-right
              = "#{@company.leads_online_store_id}"
          %li.list-group-item
            = "Leads Online FTP Username:"
            .pull-right
              = "#{@company.leads_online_ftp_username}"
          %li.list-group-item
            = "Leads Online FTP Password:"
            .pull-right
              = "#{@company.leads_online_ftp_password}"
      .panel.panel-default
        .panel-heading
          %h4.panel-title 
            BWI Info 
            .pull-right
              = link_to 'Edit', edit_company_path(@company)
        %ul.list-group
          %li.list-group-item
            = "BWI Company ID:"
            .pull-right
              = "#{@company.bwi_company_id}"
          %li.list-group-item
            = "BWI Company Name:"
            .pull-right
              = "#{@company.bwi_company_name}"
          %li.list-group-item
            = "BWI Username:"
            .pull-right
              = "#{@company.bwi_username}"
          %li.list-group-item
            = "BWI Password:"
            .pull-right
              = "#{@company.bwi_password}"
          %li.list-group-item
            = "BWI Upload URL:"
            .pull-right
              = "#{@company.bwi_upload_url}"
        
      
      - unless @company.jpegger_contract.blank?
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              Contract
              .pull-right= link_to 'Edit', edit_jpegger_contract_path(@company.jpegger_contract)
          %ul.list-group
            %li.list-group-item
              = @company.jpegger_contract.contract_name
            %li.list-group-item= @company.jpegger_contract.verbiage.html_safe
            -#
              %li.list-group-item= link_to "Edit", edit_contract_path(current_user.default_contract.id), id: 'edit_contract_button', class: 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Edit"}
      - else
        %p.lead= link_to "New Contract", new_jpegger_contract_path

= render partial: "shared/company_footer_navbar", locals: {title: "Company"}