- if user_signed_in? && current_user.qbo_access_credential.blank?
  - unless @connecting_to_quickbooks.present?
    .container
      .well.col-sm-6.col-md-4.col-md-offset-4
        = form_tag set_user_location_user_settings_path, :class => "form-horizontal" do |f|
          .row.form-group
            %div{:class => "col-sm-12 col-md-12"}
              = label_tag "Admin Email", nil, :class => 'control-label'
              %br/
              = email_field_tag "user_setting[admin_email]", nil, placeholder: "admin@mail.com", :class => "form-control input-lg"
          .row.form-group
            %div{:class => "col-sm-12 col-md-12"}
              = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Update"}, autocomplete: "off") do
                Submit
  - else
    .jumbotron
      .container
        %p.text-center
          %i.fa.fa-spinner.fa-spin
          = "Connecting to Quickbooks ..."