= render partial: "shared/navbars/show_user_setting_navbar", locals: {title: "Settings"}

.container
  .col-xs-12.col-sm-6.col-md-offset-3

    .panel.panel-default
      .panel-heading
        Show Thumbnails
      %ul.list-group
        %li.list-group-item
          %strong= "Vendors:"
          .pull-right
            = "#{@user_setting.show_vendor_thumbnails? ? 'Yes' : 'No'}"

        %li.list-group-item
          %strong= "Open Tickets:"
          .pull-right
            = "#{@user_setting.show_purchase_order_thumbnails? ? 'Yes' : 'No'}"

        %li.list-group-item
          %strong= "Closed Tickets:"
          .pull-right
            = "#{@user_setting.show_bill_thumbnails? ? 'Yes' : 'No'}"

        %li.list-group-item
          %strong= "Paid Tickets:"
          .pull-right
            = "#{@user_setting.show_bill_payment_thumbnails? ? 'Yes' : 'No'}"

        %li.list-group-item
          %strong= "Pictures:"
          .pull-right
            = "#{@user_setting.show_thumbnails? ? 'Yes' : 'No'}"
        -#
          %div.list-group-item
            %strong= "Search table:"
            .pull-right
              = "#{@user_setting.table_name}"
      - unless current_company.device_groups.blank?
        .panel-heading
          - unless current_user.device_group.blank?
            = "#{current_user.device_group.DeviceGroupName} Device Group"
          - else
            No Device Group for this User
        %ul.list-group
          - unless current_user.device_group.blank?
            - current_user.device_group.devices.each do |device|
              %li.list-group-item
                %strong= device.DeviceName
                %p
                  = "Workstation:"
                  = device.workstation.WorkstationName
                %p
                  = "Device Type:"
                  = device.type
                - if device.scale_camera_only?
                  %p{style: "color: hotpink;"}
                    *Scale camera only - no indicator
                %p 
                  = "Device Order:"
                  = "#{device.device_group_member_order(current_user.device_group).blank? ? 'N/A' : device.device_group_member_order(current_user.device_group)}"
                - unless device.CameraGroup.blank?
                  %p
                    = "Camera Group:"
                    = device.CameraGroup
                %p
                  = "Listen Port:"
                  = device.LocalListenPort

        %li.list-group-item= link_to "Edit", edit_user_setting_path(@user_setting), id: 'edit_user_setting_button', class: 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Edit"}

    %hr

    %h4 Contracts

    .panel.panel-default
      .panel-heading
        Contract
      %ul.list-group
        - unless current_user.default_contract.blank?
          %li.list-group-item
            %strong= current_user.default_contract.name
          %li.list-group-item= current_user.default_contract_wording
          %li.list-group-item= link_to "Edit", edit_contract_path(current_user.default_contract.id), id: 'edit_contract_button', class: 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Edit"}
        - else
          %li.list-group-item= link_to "Create", new_contract_path, id: 'new_contract_button', class: 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Create"}

    -#
      .panel.panel-default
        .panel-heading
          Devices
        %ul.list-group
          - current_user.devices.each do |device|
            %li.list-group-item
              %strong= device.DeviceName
              %p
                = "Workstation:"
                = device.workstation.WorkstationName
              %p
                = "Device Type:"
                = device.type
              - unless device.CameraGroup.blank?
                %p
                  = "Camera Group:"
                  = device.CameraGroup
              %p
                = "Listen Port:"
                = device.LocalListenPort

   
    -#
      - current_company.device_groups.each do |device_group|
        .panel.panel-default
          .panel-heading
            = "#{device_group.DeviceGroupName} Device Group"
          %ul.list-group
            - device_group.devices.each do |device|
              %li.list-group-item
                %strong= device.DeviceName
                %p
                  = "Workstation:"
                  = device.workstation.WorkstationName
                %p
                  = "Device Type:"
                  = device.type
                - unless device.CameraGroup.blank?
                  %p
                    = "Camera Group:"
                    = device.CameraGroup
                %p
                  = "Listen Port:"
                  = device.LocalListenPort
            
  -#
    %div.row
      .col-xs-12.col-sm-6.col-md-offset-3
        %div.panel.panel-default
          %div.panel-heading
            Event Codes
          %div.list_group
            - @lookup_defs.each do |lookup_def|
              %div.list-group-item
                %strong= lookup_def.LookupValue
                .pull-right
                  = lookup_def.tableName
            %div.list-group-item
              = link_to "New", new_lookup_def_path, class: 'btn btn-primary btn-lg btn-block'

= render partial: "shared/footer_navbar", locals: {title: "Settings"}