= render partial: "shared/navbars/new_and_edit_vendor_navbar", locals: {title: truncate(@vendor.display_name, length: 12)}
.container
  %ul{class: 'list-inline'}
    - current_user.license_reader_devices.each do |license_reader_device|
      %li
        %a{href: '#', id: 'drivers_license_scan', 'data-device-id' => license_reader_device.id, onclick: "$(this).find('.data_scan_spinner:first').show();", class: 'drivers_license_scan btn btn-default'}
          %i.fa.fa-list-alt
          = "#{license_reader_device.DeviceName} Data Scan"
          = image_tag("ajax-loader.gif", :id => "data_scan_spinner", :class => "data_scan_spinner", :alt => "Loading ...", style: "display:none;")
  %ul{class: 'list-inline'}
    - current_user.license_imager_devices.each do |license_imager_device|
      %li
        %a{href: '#', id: 'drivers_license_image_scan', 'data-device-id' => license_imager_device.id, class: 'drivers_license_image_scan btn btn-default'}
          %i.fa.fa-image
          = "#{license_imager_device.DeviceName} Image Scan"
          = image_tag("ajax-loader.gif", :id => "image_scan_spinner", :class => "image_scan_spinner", :alt => "Loading ...", style: "display:none;")
      %div{class: "col-xs-12 col-sm-12 col-md-4 thumbnail pull-right scanned_license_image", style: "display:none;", id: "scanned_license_image_#{license_imager_device.id}"}
        %p
          = image_tag("ajax-loader.gif", :id => "scanned_license_picture_#{license_imager_device.id}", class: "scanned_license_picture", :alt => "Loading ...", class: 'img-responsive')
          .caption{style: 'display:block'}
            %a{href: '#', onclick: "$(this).find('.save_to_jpegger_spinner:first').show();", class: 'save_license_scan_to_jpegger btn btn-default', 'data-device-id' => license_imager_device.id, 'data-vendor-id' => @vendor.id, 'data-company-id' => current_company.id}
              Save to JPEGger
              = image_tag("ajax-loader.gif", :id => "image_scan_spinner", :class => "save_to_jpegger_spinner", :alt => "Loading ...", style: "display:none;")

  .well.col-xs-12.col-sm-12.col-md-12
    = form_tag update_qb_vendor_path, method: 'get', id: 'vendor_form', :class => "form-horizontal" do
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "First Name", nil, :class => 'control-label'
          = text_field_tag "vendor[given_name]", @vendor.given_name, :placeholder => "First Name", value: @vendor.given_name, class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Last Name", nil, :class => 'control-label'
          = text_field_tag "vendor[family_name]", @vendor.family_name, :placeholder => "Last Name", value: @vendor.family_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-6 col-sm-6 col-md-6"}
          = label_tag "Height", nil, :class => 'control-label'
          = text_field_tag "vendor[height]", "#{@customer.blank? ? nil : @customer.height}", :placeholder => "Height", class: "form-control input-lg"
        %div{:class => "col-xs-6 col-sm-6 col-md-6"}
          = label_tag "Weight", nil, :class => 'control-label'
          = text_field_tag "vendor[weight]", "#{@customer.blank? ? nil : @customer.weight}", :placeholder => "Weight", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-6 col-sm-6 col-md-6"}
          = label_tag "Eye Color", nil, :class => 'control-label'
          = text_field_tag "vendor[eye_color]", "#{@customer.blank? ? nil : @customer.eye_color}", :placeholder => "Eye Color", class: "form-control input-lg"
        %div{:class => "col-xs-6 col-sm-6 col-md-6"}
          = label_tag "Hair Color", nil, :class => 'control-label'
          = text_field_tag "vendor[hair_color]", "#{@customer.blank? ? nil : @customer.hair_color}", :placeholder => "Hair Color", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-6 col-sm-3 col-md-3"}
          = label_tag "Sex", nil, :class => 'control-label'
          = select_tag "vendor[sex]", options_for_select(["M", "F"], "#{@customer.blank? ? nil : @customer.sex}"), class: "form-control input-lg"
        %div{:class => "col-xs-6 col-sm-3 col-md-3"}
          = label_tag "vendor[dob]", "Date of Birth", :class => 'control-label'
          = date_field_tag  "vendor[dob]", "#{@customer.blank? ? nil : @customer.dob}", :placeholder => "Date of Birth", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "License Number", nil, :class => 'control-label'
          = text_field_tag "vendor[license_number]", nil, :placeholder => "License Number", class: "form-control input-lg"
        
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "vendor[license_issue_date]", "License Issue Date", :class => 'control-label'
          = date_field_tag   "vendor[license_issue_date]", "#{@customer.blank? ? nil : @customer.issue_date}", :placeholder => "License Issue Date", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "vendor[license_expiration_date]", "License Expiration Date", :class => 'control-label'
          = date_field_tag   "vendor[license_expiration_date]", "#{@customer.blank? ? nil : @customer.expiration_date}", :placeholder => "License Expiration Date", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Company Name", nil, :class => 'control-label'
          = text_field_tag "vendor[company_name]", @vendor.company_name, :placeholder => "Company Name", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Display Name", nil, :class => 'control-label'
          = text_field_tag "vendor[display_name]", @vendor.display_name, :placeholder => "Display Name", value: @vendor.display_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Street Address", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][line1]", @vendor.billing_address.line1, :placeholder => "Street Address", class: "form-control input-lg"#, required: true
          - else
            = text_field_tag "vendor[billing_address][line1]", nil, :placeholder => "Street Address", class: "form-control input-lg"#, required: true
      .row.form-group
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "City", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][city]", @vendor.billing_address.city, :placeholder => "City", class: "form-control input-lg"#, required: true
          - else
            = text_field_tag "vendor[billing_address][city]", nil, :placeholder => "City", class: "form-control input-lg"#, required: true
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "State", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = select_tag "vendor[billing_address][country_sub_division_code]", options_for_select(us_states, @vendor.billing_address.country_sub_division_code), :class => "form-control input-lg"#, required: true
            =# text_field_tag "vendor[billing_address][country_sub_division_code]", @vendor.billing_address.country_sub_division_code, :placeholder => "State", class: "form-control input-lg"
          - else
            = select_tag "vendor[billing_address][country_sub_division_code]", options_for_select(us_states), :class => "form-control input-lg"#, required: true
            =# text_field_tag "vendor[billing_address][country_sub_division_code]", nil, :placeholder => "State", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "Zipcode", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][postal_code]", @vendor.billing_address.postal_code, :placeholder => "Zipcode", class: "form-control input-lg"#, required: true
          - else
            = text_field_tag "vendor[billing_address][postal_code]", nil, :placeholder => "Zipcode", class: "form-control input-lg"#, required: true
      .row.form-group
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "Email", "Email*", :class => 'control-label'
          = email_field_tag "vendor[email]", nil, :placeholder => "Email Address", value: "#{@vendor.primary_email_address.present? ? @vendor.primary_email_address.address : ''}", class: "form-control input-lg", required: true
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "Phone", "Phone*", :class => 'control-label'
          = phone_field_tag "vendor[phone_number]", nil, :placeholder => "Phone Number", value: "#{@vendor.primary_phone.present? ? @vendor.primary_phone.free_form_number : ''}", class: "vendor_phone_field form-control input-lg", required: true
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "Employer Phone", nil, :class => 'control-label'
          = phone_field_tag "vendor[employer_phone]", "#{@customer.blank? ? nil : @customer.employer_phone}", :placeholder => "Employer Phone", class: "vendor_phone_field form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          =# link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', id: 'vendor_update_button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."}) do
            Update

  %div#cust_pics

  %div{id: 'endless_page'}
    %p= image_tag("ajax-loader.gif", :id => "more_images_spinner", :alt => "Loading ...", style: "display:none;")
    %p= link_to 'Load pictures ...', cust_pics_path(:page => nil, :q => {cust_nbr_eq: @vendor.id, location_eq: current_user.location}), :class => 'load-more-cust-pics btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();"
    %p= link_to 'Re-load pictures ...', cust_pics_path(:page => nil, :q => {cust_nbr_eq: @vendor.id, location_eq: current_user.location}), :class => 'reload-cust-pics btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show(); $('#cust_pics').empty();", style: "display:none;"


= render partial: "shared/vendor_footer_navbar", locals: {title: "Vendor"}

