= render partial: "shared/navbars/new_and_edit_vendor_navbar", locals: {title: truncate(@vendor.display_name, length: 12)}
.container
  %p
    = link_to "License Scan", '#', id: 'drivers_license_scan', onclick: "$('#spinner').show();"
    = image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
  %div{class: "col-xs-12 col-sm-12 col-md-4 thumbnail", style: "display:block;", id: "scanned_license"}
    = image_tag(show_scanned_jpeg_image_tud_devices_path, class: 'img-responsive')
    =# image_tag("ajax-loader.gif", :id => "scanned_license_picture", :alt => "Loading ...", class: 'img-responsive')
    =# image_tag('http://media.twiliocdn.com.s3-external-1.amazonaws.com/AC27c4bc7245c64b76ac92bac10c1cf9b0/7f7f1e2f70fd9e2fc5432b138f730097', style: 'display:none;', id: "scanned_license_picture", class: 'thumbnail img-responsive')
    .caption
      = form_for CustPicFile.new, remote: true do |f|
        =# f.hidden_field :remote_file_url, value: 'http://media.twiliocdn.com.s3-external-1.amazonaws.com/AC27c4bc7245c64b76ac92bac10c1cf9b0/7f7f1e2f70fd9e2fc5432b138f730097'
        =# f.hidden_field :remote_file_url, value: 'http://media.twiliocdn.com.s3-external-1.amazonaws.com/AC27c4bc7245c64b76ac92bac10c1cf9b0/7f7f1e2f70fd9e2fc5432b138f730097'
        =# f.hidden_field :remote_file_url, value: 'http://media.twiliocdn.com.s3-external-1.amazonaws.com/AC27c4bc7245c64b76ac92bac10c1cf9b0/c4afd7722eb694891bc02ec0013a6bb8'
        = f.hidden_field :remote_file_url, value: show_scanned_jpeg_image_tud_devices_url
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :customer_number, value: @vendor.id
        = f.hidden_field :location, value: current_company_id
        = f.hidden_field :event_code, value: "Photo ID"
        = f.submit 'Save ID', class: 'btn btn-default', data: {disable_with: "Save ID"} 
        -#
          .pull-right= link_to "Save", '#', class: 'btn btn-default'
  .well.col-xs-12.col-sm-12.col-md-12
    = form_tag update_qb_vendor_path, method: 'get', :class => "form-horizontal" do
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "First Name", nil, :class => 'control-label'
          = text_field_tag "vendor[given_name]", @vendor.given_name, :placeholder => "First Name", value: @vendor.given_name, class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Last Name", nil, :class => 'control-label'
          = text_field_tag "vendor[family_name]", @vendor.family_name, :placeholder => "Last Name", value: @vendor.family_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Company Name", nil, :class => 'control-label'
          = text_field_tag "vendor[company_name]", @vendor.company_name, :placeholder => "Company Name", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Display Name", nil, :class => 'control-label'
          = text_field_tag "vendor[display_name]", @vendor.display_name, :placeholder => "Display Name", value: @vendor.display_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Street Address", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][line1]", @vendor.billing_address.line1, :placeholder => "Street Address", class: "form-control input-lg"
          - else
            = text_field_tag "vendor[billing_address][line1]", nil, :placeholder => "Street Address", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "City", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][city]", @vendor.billing_address.city, :placeholder => "City", class: "form-control input-lg"
          - else
            = text_field_tag "vendor[billing_address][city]", nil, :placeholder => "City", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "State", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = select_tag "vendor[billing_address][country_sub_division_code]", options_for_select(us_states, @vendor.billing_address.country_sub_division_code), :class => "form-control input-lg"
            =# text_field_tag "vendor[billing_address][country_sub_division_code]", @vendor.billing_address.country_sub_division_code, :placeholder => "State", class: "form-control input-lg"
          - else
            = select_tag "vendor[billing_address][country_sub_division_code]", options_for_select(us_states), :class => "form-control input-lg"
            =# text_field_tag "vendor[billing_address][country_sub_division_code]", nil, :placeholder => "State", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "Zipcode", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][postal_code]", @vendor.billing_address.postal_code, :placeholder => "Zipcode", class: "form-control input-lg"
          - else
            = text_field_tag "vendor[billing_address][postal_code]", nil, :placeholder => "Zipcode", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Email", nil, :class => 'control-label'
          = email_field_tag "vendor[email]", nil, :placeholder => "Email Address", value: "#{@vendor.primary_email_address.present? ? @vendor.primary_email_address.address : ''}", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Phone", nil, :class => 'control-label'
          = phone_field_tag "vendor[phone_number]", nil, :placeholder => "Phone Number", value: "#{@vendor.primary_phone.present? ? @vendor.primary_phone.free_form_number : ''}", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          =# link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."}) do
            Update

  %div#cust_pics
    - unless @cust_pics.blank?
      - @cust_pics.each_slice(6) do |cust_pics|
        %div.row
          - cust_pics.each do |cust_pic|
            .col-xs-12.col-sm-2.col-md-2.col-lg-2
              %div.thumbnail
                - unless cust_pic.hidden?
                  = image_tag(show_preview_image_cust_pic_path(cust_pic))

= render partial: "shared/vendor_footer_navbar", locals: {title: "Vendor"}

