= render partial: "shared/search_navbar", locals: {title: "Edit"}
.container
  .well.col-sm-6.col-md-4.col-md-offset-4
    = form_tag update_qb_vendor_path, method: 'get', :class => "form-horizontal" do
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Name", nil, :class => 'control-label'
          = text_field_tag "vendor[name]", nil, :placeholder => "Display Name", value: @qb_vendor.display_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Email", nil, :class => 'control-label'
          = email_field_tag "vendor[email]", nil, :placeholder => "Email Address", value: "#{@qb_vendor.primary_email_address.present? ? @qb_vendor.primary_email_address.address : ''}", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Phone", nil, :class => 'control-label'
          = phone_field_tag "vendor[phone_number]", nil, :placeholder => "Phone Number", value: "#{@qb_vendor.mobile_phone.present? ? @qb_vendor.mobile_phone.free_form_number : ''}", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg') do
            Update
  -#
    = form_for @qb_vendor, :class => "form-inline" do |f|
      -#
        - if @vendor.errors.any?
          #error_explanation
            %h2= "#{pluralize(@vendor.errors.count, "error")} prohibited this vendor from being saved:"
            %ul
              - @vendor.errors.full_messages.each do |msg|
                %li= msg
      .row.form-group
        %div{:class => "col-sm-10"}
          = f.label "Name", :class => "control-label"
          = f.text_field :name, placeholder: "Display Name", value: @qb_vendor.display_name, :class => "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-10"}
          = f.label "Email", :class => "control-label"
          %br/
          = f.text_field :email, placeholder: "Email Address", value: "#{@qb_vendor.primary_email_address.present? ? @qb_vendor.primary_email_address.address : ''}", :class => "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-10"}
          = link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = f.submit "Update", :class => "btn btn-lg btn-primary"

=# render :partial => "form"

