= render partial: "shared/navbars/new_and_edit_vendor_navbar", locals: {title: "#{truncate(@vendor.display_name, length: 12)}"}
.container
  .well.col-sm-12.col-md-12
    = form_tag update_qb_vendor_path, method: 'get', :class => "form-horizontal" do
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "First Name", nil, :class => 'control-label'
          = text_field_tag "vendor[given_name]", @vendor.given_name, :placeholder => "First Name", value: @vendor.given_name, class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Last Name", nil, :class => 'control-label'
          = text_field_tag "vendor[family_name]", @vendor.family_name, :placeholder => "Last Name", value: @vendor.family_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Company Name", nil, :class => 'control-label'
          = text_field_tag "vendor[company_name]", @vendor.company_name, :placeholder => "Company Name", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Display Name", nil, :class => 'control-label'
          = text_field_tag "vendor[display_name]", @vendor.display_name, :placeholder => "Display Name", value: @vendor.display_name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Street Address", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][line1]", @vendor.billing_address.line1, :placeholder => "Street Address", class: "form-control input-lg", required: true
          - else
            = text_field_tag "vendor[billing_address][line1]", nil, :placeholder => "Street Address", class: "form-control input-lg", required: true
      .row.form-group
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "City", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][city]", @vendor.billing_address.city, :placeholder => "City", class: "form-control input-lg", required: true
          - else
            = text_field_tag "vendor[billing_address][city]", nil, :placeholder => "City", class: "form-control input-lg", required: true
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "State", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][country_sub_division_code]", @vendor.billing_address.country_sub_division_code, :placeholder => "State", class: "form-control input-lg", required: true
          - else
            = text_field_tag "vendor[billing_address][country_sub_division_code]", nil, :placeholder => "State", class: "form-control input-lg", required: true
        %div{:class => "col-xs-12 col-sm-4 col-md-4"}
          = label_tag "Zipcode", nil, :class => 'control-label'
          - unless @vendor.billing_address.blank?
            = text_field_tag "vendor[billing_address][postal_code]", @vendor.billing_address.postal_code, :placeholder => "Zipcode", class: "form-control input-lg", required: true
          - else
            = text_field_tag "vendor[billing_address][postal_code]", nil, :placeholder => "Zipcode", class: "form-control input-lg", required: true
      .row.form-group
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Email", nil, :class => 'control-label'
          = email_field_tag "vendor[email]", nil, :placeholder => "Email Address", value: "#{@vendor.primary_email_address.present? ? @vendor.primary_email_address.address : ''}", class: "form-control input-lg"
        %div{:class => "col-xs-12 col-sm-6 col-md-6"}
          = label_tag "Phone", nil, :class => 'control-label'
          = phone_field_tag "vendor[phone_number]", nil, :placeholder => "Phone Number", value: "#{@vendor.mobile_phone.present? ? @vendor.mobile_phone.free_form_number : ''}", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          =# link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."}) do
            Update
  -#
    = form_for @vendor, :class => "form-inline" do |f|
      -#
        - if @vendor.errors.any?
          #error_explanation
            %h2= "#{pluralize(@vendor.errors.count, "error")} prohibited this vendor from being saved:"
            %ul
              - @vendor.errors.full_messages.each do |msg|
                %li= msg
      .row.form-group
        %div{:class => "col-sm-10"}
          = f.label "Name", :class => "control-label"
          = f.text_field :name, placeholder: "Display Name", value: @vendor.display_name, :class => "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-10"}
          = f.label "Email", :class => "control-label"
          %br/
          = f.text_field :email, placeholder: "Email Address", value: "#{@vendor.primary_email_address.present? ? @vendor.primary_email_address.address : ''}", :class => "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          -#
            = link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = f.submit "Update", :class => "btn btn-lg btn-primary btn-block"

=# render :partial => "form"

= render partial: "shared/footer_navbar", locals: {title: "Vendor"}

