= render partial: "shared/navbars/vendors_navbar", locals: {title: "Vendors"}
- @title="Vendors" 

.container
  %p
    .btn-group
      %button{class: 'btn btn-default btn-lg active'}
        %i.fa.fa-users.fa-lg
        Vendors
      = link_to "<i class='fa fa-folder-open-o fa-lg'></i> Open".html_safe, purchase_orders_path, :class => "btn btn-default btn-lg vendor_button", id: 'vendors_to_open', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}
      = link_to "<i class='fa fa-folder fa-lg'></i> Closed".html_safe, bills_path, :class => "btn btn-default btn-lg vendor_button", id: 'vendors_to_closed', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
  -#
    %p
      .btn-group
        = link_to "Paid", bill_payments_path, :class => "btn btn-default btn-lg vendor_button", id: 'vendors_to_bill_payments', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}
        = link_to "Items", items_path, :class => "btn btn-default btn-lg vendor_button", id: 'vendors_to_items', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Items"}
      
  %p
    = form_tag vendors_path, id: 'vendor_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
      .input-group
        -#
          %input.form-control{:placeholder => "Search", :type => "text"}/
        = search_field_tag :search, params[:search], :placeholder => "Search Vendors", class: "form-control input-lg"
        %span.input-group-btn
          %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
            %i.fa.fa-search
  - if @vendors.blank?
    .jumbotron
      %p.text-center No vendors found
  - else
    %div{id: 'vendors'}    
      - @vendors.each do |vendor|
        %div.row
          .col-xs-12.col-sm-12.col-md-12
            %div.panel.panel-primary
              %div.list_group
                %div.list-group-item
                  .pull-right
                    %a{href: '#', class: "btn btn-primary btn-lg vendor_button new_ticket_from_vendor", data: {"vendor-id" => vendor.id, disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Ticket"}, onclick: "event.preventDefault();"}
                      %i.fa.fa-plus.fa-lg
                      Ticket
                  - if current_user.user_setting.show_vendor_thumbnails? and not Vendor.default_cust_pic_id(vendor.id, current_company_id).blank?
                    =# image_tag(show_preview_image_cust_pic_path(Vendor.default_cust_pic_id(vendor.id, current_company_id)), class: 'thumbnail img-responsive')
                    = image_tag(Vendor.default_cust_pic(vendor.id, current_company_id).preview_data_uri, class: 'thumbnail img-responsive')
                  %p.lead
                    - if Vendor.customer_photo_id_warning?(vendor.id, current_company_id)
                      %i.fa.fa-warning.text-warning
                    = vendor.display_name
                %a{href: vendor_path(vendor.id), data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Vendor Details"}, class: "list-group-item vendor_button"}
                  .pull-right
                    &nbsp;
                    %i.fa.fa-chevron-right.fa-lg
                  Vendor Details
              
  %div.row
    .text-center
      %div{id: 'endless_page'}
        %p= image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
        %p= link_to 'Load more ...', vendors_path(:page => @vendors.next_page, :search => params[:search]), :class => 'load-more-vendors btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#spinner').show();" if @vendors.next_page


= render partial: "shared/vendors_footer_navbar", locals: {title: "Vendors"}
