= render partial: "shared/navbars/vendors_navbar", locals: {title: "Vendors"}
- @title="Vendors" 

-#
  .container
-#
  .col-xs-12.col-sm-6.col-md-offset-3
.container
  %p
    .btn-group
      %button{class: 'btn btn-default btn-lg active'}
        Vendors
      = link_to "Open", purchase_orders_path, :class => "btn btn-default btn-lg", id: 'vendors_to_open', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}
      = link_to "Closed", bills_path, :class => "btn btn-default btn-lg", id: 'vendors_to_closed', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
      
  %p
    = form_tag vendors_path, id: 'vendor_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
      .input-group
        -#
          %input.form-control{:placeholder => "Search", :type => "text"}/
        = search_field_tag :search, params[:search], :placeholder => "Search Vendors", class: "form-control input-lg"
        %span.input-group-btn
          %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
            %i.fa.fa-search
  - if @vendors.blank?
    .jumbotron
      %p.text-center No vendors found
  - else
    %div{id: 'vendors'}    
      - @vendors.each do |vendor|
        %div.row
          .col-xs-12.col-sm-12.col-md-12
            %div.panel.panel-primary
              %div.panel-body
                %a{href: vendor_path(vendor.id), class: "vendor_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> #{vendor.display_name}"}}
                  = vendor.display_name
                  .pull-right
                    %a{href: '#', data: {"vendor-id" => vendor.id, disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, class: "new_ticket_from_vendor", onclick: "event.preventDefault();"}
                      %i.fa.fa-plus.fa-lg
                    &nbsp;
              -#
                %div.panel-body{style: "padding: 0;"}
                  %a{href: vendor_path(vendor.id), class: "vendor_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-5x'></i>"}}
                    - if CustPic.where(cust_nbr: vendor.id, location: current_company_id, event_code: "Customer Photo").count > 0
                      %div.col-xs-3.col-sm-3.col-md-3.col-lg-3{style: "padding: 0;"}
                        = image_tag(show_preview_image_cust_pic_path(CustPic.where(cust_nbr: vendor.id, location: current_company_id, event_code: "Customer Photo").last.id), class: 'img-responsive')
                    - else
                      %span.fa-stack.fa-3x
                        %i.fa.fa-square-o.fa-stack-2x
                        %i.fa.fa-user.fa-stack-1x
                  &nbsp;
                  = vendor.display_name
                  -#
                    %br/
                    %small
                      - unless vendor.primary_phone.blank?
                        = vendor.primary_phone.free_form_number 
                        %br
                      = number_to_currency(vendor.balance)
                  .pull-right
                    %a{href: '#', data: {"vendor-id" => vendor.id, disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, class: "new_ticket_from_vendor", onclick: "event.preventDefault();"}
                      %i.fa.fa-plus.fa-lg
                    &nbsp;
  %div.row
    .text-center
      %div{id: 'endless_page'}
        %p= image_tag("ajax-loader.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
        %p= link_to 'Load more ...', vendors_path(:page => @vendors.next_page), :class => 'load-more-vendors btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#spinner').show();" if @vendors.next_page


= render partial: "shared/vendors_footer_navbar", locals: {title: "Vendors"}
