= render partial: "shared/navbars/vendors_navbar", locals: {title: "Vendors"}
- @title="Vendors" 
-#
  .container
-#
  .col-xs-12.col-sm-6.col-md-offset-3
.container
  %p
    .btn-group
      = link_to "Open", purchase_orders_path, :class => "btn btn-default btn-lg", id: 'vendors_to_open', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Open"}
      = link_to "Closed", bills_path, :class => "btn btn-default btn-lg", id: 'vendors_to_closed', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}
      = link_to "Paid", bill_payments_path, :class => "btn btn-default btn-lg", id: 'vendors_to_paid', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}
      %button{class: 'btn btn-default btn-lg active'}
        Vendors
  %p
    = form_tag vendors_path, id: 'vendor_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
      .input-group
        -#
          %input.form-control{:placeholder => "Search", :type => "text"}/
        = search_field_tag :search, params[:search], :placeholder => "Search Vendors", class: "form-control input-lg"
        %span.input-group-btn
          %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
            %i.fa.fa-search
      
  - @vendors.each do |vendor|
    %div.row
      .col-xs-12.col-sm-12.col-md-12
        %div.panel.panel-primary
          %div.list_group
            %a{href: vendor_path(vendor.id), class: "list-group-item vendor_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{vendor.display_name}"}}
              = vendor.display_name
              .pull-right
                %i.fa.fa-chevron-right
              %br/
              %small
                - unless vendor.primary_phone.blank?
                  = vendor.primary_phone.free_form_number 
                  %br
                = number_to_currency(vendor.balance)
  %div.row
    -#
      .col-xs-12.col-sm-12.col-md-12
        = link_to "New Vendor", new_vendor_path, class: 'btn btn-primary btn-lg btn-block'

= render partial: "shared/vendors_footer_navbar", locals: {title: "Vendors"}
