= render partial: "shared/navbars/new_and_edit_vendor_navbar", locals: {title: "Vendor"}
.container
  .well.col-sm-6.col-md-4.col-md-offset-4
    = form_tag vendors_path, :class => "form-horizontal" do
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "First Name", nil, :class => 'control-label'
          = text_field_tag "vendor[given_name]", nil, :placeholder => "First Name", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Last Name", nil, :class => 'control-label'
          = text_field_tag "vendor[family_name]", nil, :placeholder => "Last Name", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Company Name", nil, :class => 'control-label'
          = text_field_tag "vendor[company_name]", nil, :placeholder => "Company Name", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Display Name", nil, :class => 'control-label'
          = text_field_tag "vendor[display_name]", nil, :placeholder => "Display Name", class: "form-control input-lg", required: true
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Email", nil, :class => 'control-label'
          = email_field_tag "vendor[email]", nil, :placeholder => "Email Address", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Phone", nil, :class => 'control-label'
          = phone_field_tag "vendor[phone_number]", nil, :placeholder => "Phone Number", class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          =# link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default"
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block') do
            Create

=# render :partial => "form"

= render partial: "shared/footer_navbar", locals: {title: "Vendor"}
