= render partial: "shared/navbars/show_vendor_navbar", locals: {title: "#{truncate(@vendor.display_name, length: 12)}", purchase_order_id: @vendor.id}
.container
  %div.row
    -#
      .col-xs-12.col-sm-6.col-md-offset-3
    %div.panel.panel-default
      %div.list_group
        %div.list-group-item
          %strong= "Name:"
          .pull-right
            = "#{@vendor.given_name} #{@vendor.family_name}"
        %div.list-group-item
          %strong= "Company Name:"
          .pull-right
            = @vendor.company_name
        %div.list-group-item
          %strong= "Display Name:"
          .pull-right
            = @vendor.display_name
        %div.list-group-item
          %strong= "Email:"
          .pull-right
            = mail_to @vendor.primary_email_address.address unless @vendor.primary_email_address.blank?
        %div.list-group-item
          %strong= "Phone:"
          .pull-right
            = @vendor.mobile_phone.free_form_number unless @vendor.mobile_phone.blank?
        %div.list-group-item
          %strong= "Balance:"
          .pull-right
            = number_to_currency(@vendor.balance)
    %div.row
      -#
        .col-xs-12.col-sm-12.col-md-12
          = link_to "Edit Vendor", edit_vendor_path(@vendor.id), class: 'btn btn-primary btn-lg btn-block'
= render partial: "shared/footer_navbar", locals: {title: "Vendor"}