= render partial: "shared/navbars/show_vendor_navbar", locals: {title: truncate(@vendor.display_name, length: 20)}
- @title="#{@vendor.display_name}" 

.container
  -#
    %ul{class: 'list-inline'}
      - current_user.license_imager_devices.each do |license_imager_device|
        %li
          %a{href: '#', id: 'drivers_license_image_scan', 'data-device-id' => license_imager_device.id, class: 'drivers_license_image_scan btn btn-default'}
            %i.fa.fa-image
            %i.fa.fa-spinner.fa-lg.fa-spin{style: 'display:none;'}
            = "#{license_imager_device.DeviceName} Image Scan"
            = image_tag("ajax-loader.gif", :id => "image_scan_spinner", :class => "image_scan_spinner", :alt => "Loading ...", style: "display:none;")
        %div{class: "col-xs-12 col-sm-12 col-md-4 thumbnail pull-right scanned_license_image", style: "display:none;", id: "scanned_license_image_#{license_imager_device.id}"}
          %p
            = image_tag("ajax-loader.gif", :id => "scanned_license_picture_#{license_imager_device.id}", :alt => "Loading ...", class: 'img-responsive')
            .caption{style: 'display:block'}
              %a{href: '#', onclick: "$(this).find('.save_to_jpegger_spinner:first').show();", class: 'save_license_scan_to_jpegger btn btn-default', 'data-device-id' => license_imager_device.id, 'data-vendor-id' => @vendor.id, 'data-company-id' => current_company.id}
                Save to JPEGger
                = image_tag("ajax-loader.gif", :id => "image_scan_spinner", :class => "save_to_jpegger_spinner", :alt => "Loading ...", style: "display:none;")
              -#
                %p= link_to "Save image to Jpegger", '#', id: 'save_license_scan_to_jpegger', class: 'btn btn-default', 'data-device-id' => license_imager_device.id, 'data-vendor-id' => @vendor.id, 'data-company-id' => current_company.id
  %div.panel.panel-primary
    %div.list_group
      %div.list-group-item
        %strong= "Name:"
        .pull-right
          = "#{@vendor.given_name} #{@vendor.family_name}"
      %div.list-group-item
        %strong= "Company:"
        .pull-right
          = @vendor.company_name
      %div.list-group-item
        %strong= "Display:"
        .pull-right
          = @vendor.display_name
  %div.panel.panel-primary
    %div.panel-body
      %strong= "Address:"
      - unless @vendor.billing_address.blank?
        %p
          = @vendor.billing_address.line1
          %br
          - unless @vendor.billing_address.line2.blank?
            = @vendor.billing_address.line2
            %br
          = @vendor.billing_address.city
          = @vendor.billing_address.country_sub_division_code
          = @vendor.billing_address.postal_code
      - else
        %p None
  %div.panel.panel-primary
    %div.list_group
      %div.list-group-item
        %strong= "Email:"
        .pull-right
          = mail_to @vendor.primary_email_address.address unless @vendor.primary_email_address.blank?
      %div.list-group-item
        %strong= "Phone:"
        .pull-right
          = @vendor.primary_phone.free_form_number unless @vendor.primary_phone.blank?
      %div.list-group-item
        %strong= "Balance:"
        .pull-right
          = number_to_currency(@vendor.balance)
    
  %div#cust_pics
    %div{id: 'endless_page'}
      %p= image_tag("ajax-loader.gif", :id => "more_images_spinner", :alt => "Loading ...", style: "display:none;")
      %p= link_to 'Load pictures ...', cust_pics_path(:page => nil, :q => {cust_nbr_eq: @vendor.id, location_eq: current_user.location}), :class => 'load-more-cust-pics btn btn-default', :remote => true, :onclick => "$(this).hide(); $('#more_images_spinner').show();"

= render partial: "shared/vendor_footer_navbar", locals: {title: "Vendor"}