= render partial: "shared/navbars/new_and_edit_item_navbar", locals: {title: "#{@item.name}"}
- @title="#{@item.name}"

.container
  .well.col-sm-6.col-md-4.col-md-offset-4
    = form_tag update_qb_item_path, method: 'get', :class => "form-horizontal" do
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Name", nil, :class => 'control-label'
          = text_field_tag "item[name]", nil, :placeholder => "Name", value: @item.name, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Type", nil, :class => 'control-label'
          = text_field_tag "item[type]", nil, :placeholder => "Type", value: @item.type, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Unit of Measure", nil, :class => 'control-label'
          =# select_tag "bill[line_items][][item]", options_for_select(Rails.cache.fetch("all_items"), line_item.item_based_expense_line_detail.item_ref), prompt: 'Choose an item' , class: "form-control input-lg item_select", required: true
          = select_tag "item[purchase_desc]", options_for_select(units_of_measure, @item.purchase_desc), class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Purchase Cost", nil, :class => 'control-label'
          %div.input-group
            %span.input-group-addon
              $
            = text_field_tag "item[purchase_cost]", nil, :placeholder => "Purchase Cost", value: @item.purchase_cost, class: "form-control input-lg"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = label_tag "Expense Account", nil, :class => 'control-label'
          = select_tag "item[expense_account_ref]", options_from_collection_for_select(@accounts, "id", "name", @item.expense_account_ref), prompt: "Choose expense account", class: "form-control input-lg", required: true
      %br
      %br
      -#
        .row.form-group
          %div{:class => "col-sm-12 col-md-12"}
            = link_to "Cancel", "javascript:history.back()", :class => "btn btn-lg btn-default btn-block"
      .row.form-group
        %div{:class => "col-sm-12 col-md-12"}
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}) do
            Save

= render partial: "shared/item_footer_navbar", locals: {title: "Item"}