= render partial: "shared/navbars/items_navbar", locals: {title: "Items"}
.container
  - @items.each do |item|
    %div.row
      .col-xs-12.col-sm-12.col-md-12
        %div.panel.panel-primary
          %div.list_group
            %a{href: edit_item_path(item.id), class: "list-group-item"}
              = item.name
              .pull-right
                %i.fa.fa-chevron-right
              %br/
              %small
                = "#{number_to_currency(item.purchase_cost)}" unless item.purchase_cost.blank?
              -#
                = @vendor_service.fetch_by_id(purchase.entity_ref).display_name unless purchase.entity_ref.blank?
                .pull-right
                  %i.fa.fa-chevron-right
                %br/
                %small
                  = purchase.txn_date.strftime("%m/%d/%y")
                  %br
                  = purchase.payment_type
                  %br
                  = number_to_currency(purchase.total)
                  -#
                    - unless vendor.primary_phone.blank?
                      = vendor.primary_phone.free_form_number 
                      %br
                    = number_to_currency(vendor.balance)

= render partial: "shared/footer_navbar", locals: {title: "Items"}
