.container
  %div.panel.panel-default
    %div.list_group
      %div.list-group-item
        %strong= "Name:"
        .pull-right
          = @item.name
      %div.list-group-item
        %strong= "Unit Price:"
        .pull-right
          = number_to_currency(@item.unit_price) unless @item.unit_price.blank?
      %div.list-group-item
        %strong= "Purchase Cost:"
        .pull-right
          = number_to_currency(@item.purchase_cost) unless @item.purchase_cost.blank?
  %div.row
    .col-xs-12.col-sm-12.col-md-12
      = link_to "Edit Item", edit_item_path(@item.id), class: 'btn btn-primary btn-lg btn-block'

= render partial: "shared/footer_navbar", locals: {title: "Vendor"}