= render partial: "shared/navbars/show_item_navbar", locals: {title: "#{@item.name}", item_id: @item.id}
- @title="#{@item.name}"

.container
  %div.panel.panel-default
    %div.list_group
      %div.list-group-item
        %strong= "Name:"
        .pull-right
          = @item.name
      %div.list-group-item
        %strong= "Unit of Measure:"
        .pull-right
          = @item.description
      -#
        %div.list-group-item
          %strong= "Unit Price:"
          .pull-right
            = number_to_currency(@item.unit_price) unless @item.unit_price.blank?
      %div.list-group-item
        %strong= "Purchase Cost:"
        .pull-right
          = number_to_currency(@item.purchase_cost) unless @item.purchase_cost.blank?
      %div.list-group-item
        %strong= "Expense Account:"
        .pull-right
          = @item.expense_account_ref.name

= render partial: "shared/footer_navbar", locals: {title: "Item"}